{% extends "base.html" %}
{% block subnav_class %}subnav-small{%endblock%}
{% block subnav %}
<li {% if subnav and subnav == 'news' %}class="active"{%endif%}><a href="{% url 'history:index' %}">Chapter News</a></li>
<li {% if subnav and subnav == 'cornerstone' %}class="active"{% endif%}><a href="{% url 'history:cornerstone_view' %}">The Cornerstone</a></li>
<li {% if subnav and subnav == 'alumni_news' %}class="active"{% endif %}><a href="{% url 'history:alumninews_view' %}">Alumni Newsletters</a></li>
{% endblock %}
