{% extends "history/base_history.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12">
<h3>{{page_title}}</h3>
{% if post_button %}
<p><a class="btn btn-default" href={% url 'history:upload_article' %}>Upload Edition of &quot;{{page_title}}&quot;</a></p>
{% endif %}
    </div>
</div>
    {% if articles %}
    {% regroup articles|dictsortreversed:"volume_number" by volume_number as articles_by_volume %}
    {% for volume in articles_by_volume %}
        {% if forloop.counter0|divisibleby:"6" %}
        <div class="row">
        {% endif %}
        <div class="col-md-2">
            <h5>Volume {{volume.grouper}}</h5>
            {% for edition in volume.list|dictsort:"edition_number" %}
                <p><a href="{{edition.pdf_file.url}}">{{edition.name}}</a></p>
            {% endfor %}
        </div>
        {% if forloop.counter|divisibleby:"6" or forloop.last%}
        <hr>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
{% endblock content %}
