{% extends "history/base_history.html" %}
{% load staticfiles %}
{% load my_markdown %}

{% block js %}
<script>
    function addtext(img_url,img_title) {
        var newtext="!["+img_title+"]("+img_url+" \""+img_title+"\")\n";
        var caretPos = document.getElementById("id_body").selectionStart;
        var textAreaTxt = jQuery("#id_body").val();
        jQuery("#id_body").val(textAreaTxt.substring(0,caretPos)+newtext+textAreaTxt.substring(caretPos));
    }
</script>
{% endblock %}

{% block og_props %}

{% for news_article in web_articles %}
{% if main_id == 0 and  forloop.counter == 1 or main_id == news_article.id %}
<meta property="og:title" content="{{news_article.title}}"/>
<meta property="og:type" content="article" />
<meta property="og:url" content="https://tbp.engin.umich.edu{% url 'history:article_view' news_article.id %}" />
<meta property="og:image" content="https://tbp.engin.umich.edu{% static 'TBP_Logo.png' %}"/>
<meta property="og:description" content="{{news_article.get_short_view}}" />
{% endif %}
{% endfor %}
{% endblock%}

{% block content %}
{% if can_edit %}
<a href="{% url 'history:edit_articles' %}" class="btn btn-primary">Edit/Approve Stories ({{num_pending_stories}} Pending)</a>
{% endif %}
{% if can_post  and form %}
<div class="panel-group" id="newArticleAccordion">
    <div class="panel panel-default">
        <div class = "panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#newArticleAccordion" href="#collapseBody">
                    Post New Story
                </a>
            </h4>
        </div>
        <div id="collapseBody" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="dropdown">
                    <a class="btn btn-default" id="photoSelect" role="button" data-toggle="dropdown" href="#">Add Photo <span class="caret"></span></a>
                    <ul id="menu1" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="photoSelect">
                        {% for photo in event_photos %}
                        <li role="presentation"><img style="max-width:150px;" role="menuitem" tabindex="-1" src="{{photo.photo.thumbnail.url}}" onClick="addtext('{{photo.photo.thumbnail.url}}','{{photo.caption}}')"></img></li>
                        {% endfor %}
                    </ul>
                </div>
                <form id="story_form" action="{% url 'history:index' %}" method="post">{% csrf_token %}
                    {% include 'form_template.html' %}
                    <input type="submit" value="Post Story"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if web_articles %}
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            {% for news_article in web_articles %}
            <li class="{% if main_id == 0 and  forloop.counter == 1 or main_id == news_article.id %}active{% endif %}"><a href="{% url 'history:article_view' news_article.id %}">{{news_article.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-10">
        <div class="tab-content">
            {% for news_article in web_articles %}
                {% if main_id == 0 and forloop.counter == 1 or main_id == news_article.id %}
                    <div class="tab-pane active" id="{{news_article.id}}">
                        <div class="row">
                        <div class="col-md-9">
                            <h2> {{news_article.title}}</h2>
                            <p>{{news_article.date_posted}}</p>
                            <p>By: <em>{{news_article.created_by.get_firstlast_name}}</em></p>
                            <p class="text-justify">{{news_article.get_full_view|my_markdown}} 
                            </p>
                            <div class="fb-like" data-kid-directed-site="true" data-href="https://tbp.engin.umich.edu{% url 'history:article_view' news_article.id %}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div><br/>
                        {% url 'history:article_view' news_article.id as the_url %}
                        <div class="g-plusone" data-size="medium" data-href="https://tbp.engin.umich.edu{{ the_url|slice:":-1"}}"></div>
                            <p>Tagged: {% for member in news_article.tagged_members.all %} 
                                <a href="{% url 'member_resources:profile' member.uniqname %}">{{member}}</a>{% if news_article.tagged_members.count > 2 and not forloop.last %}, {% endif %}{% if news_article.tagged_members.count > 1 and forloop.revcounter == 2 %} and {% endif %}
                            {% endfor %}</p>
                        </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
