{% extends "member_resources/base_member_resources.html" %}

{% load staticfiles %}
{% block subnavElecteesTab %}active{%endblock %}

{% block subnavElectees %}
{% if can_create_groups %}
<li class="subtab {% block subnavCreateGroups%}{% endblock %}"><a href="{% url 'electees:edit_electee_groups'%}">Manage Electee Groups</a></li>
<li class="subtab {% block subnavEditMembership%}{% endblock %}"><a href="{% url 'electees:edit_electee_group_membership'%}">Edit Electee Group Members</a></li>
<li class="subtab {% block subnavGroupPoints%}{% endblock %}"><a href="{% url 'electees:edit_electee_group_points'%}">Edit Electee Group Points</a></li>
{% endif%}
{% endblock %}


