{% extends "electees/base_electees.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
    <a class="btn btn-default" href="{% url 'electees:view_electee_groups' %}"><i class="glyphicon glyphicon-chevron-left"></i> To Electee Resources</a>
    <h3>Electee Interview Survey</h3>
    <p>Please Complete the following Survey. You may save your answers and resume at a later time.</p>
    <hr>
    <form action="{{request.path}}" method="post">{% csrf_token %}
        {{form.render|safe}}
        <input type="submit" value="Save Electee Survey"/>
        <p><strong>Remember to also submit your resume through your profile; your survey will not be considered complete without it.</strong></p>
    </form>  

</div>
{% endblock content %}
