{% extends "electees/base_electees.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h4>Update/Change/Remove Electee Resources for {{term}}</h4>
<form enctype='multipart/form-data' method="post" action="{% url 'electees:edit_electee_resources' %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-striped table-bordered">
        {% include 'formset_template.html' %}
    </table>
    <p><a class="btn add-row"  href="javascript:void(0)"/>Add Resource</a></p>
    <input type="submit" value="Update Electee Resources" name = "submit"/>
</form>
    </div>
</div>
{% endblock content %}
