{% extends "electees/base_electees.html" %}

{% block subnavCreateGroups %}active{%endblock%}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h4>Update/Change/Remove Electee Groups</h4>
        <form method="post" action="{% url 'electees:edit_electee_groups' %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-striped table-bordered">
        {% include 'formset_template.html' %}
    </table>
    <p><a class="btn add-row"  href="javascript:void(0)"/>Add Group</a></p>
    <input type="submit" value="Update Electee Groups" name = "submit"/>
</form>
    </div>
</div>
{% endblock content %}
