{% extends "electees/base_electees.html" %}

{% block subnavGroupPoints %}active{%endblock%}
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h4>Update/Change/Remove Electee Groups Points</h4>
<form method="post" action="{% url 'electees:edit_electee_group_points' %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-striped table-bordered">
        {% include 'formset_template.html' %}
    </table>
    <p><a class="btn add-row"  href="javascript:void(0)"/>Add More Points</a></p>
    <input type="submit" value="Update Group Points" name = "submit"/>
</form>
    </div>
</div>
{% endblock content %}
