{% extends "electees/base_electees.html" %}
{% block content %}
<div class="row">

    <div class="col-md-offset-2 col-md-8">
        <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Electee</th>
                {% for interviewer in interviewer_headers %}
                <th>{{interviewer}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        <tr><td class="text-center" colspan="{{interviewer_headers|length|add:"1"}}"><strong>All Recommend</strong></td></tr>
        {% for electee in green_electees %}
            <tr>
                <td>
                {{electee.electee}}
                </td>
                {% for followup in electee.followups %}
                <td {% if followup.recommendation == 'Y' %} class="success"{% elif followup.recommendation == 'N' %} class="danger" {% else %} class="warning" {%endif %}><a href="{% url 'electees:view_interview_follow_up' followup.id %}"> {{followup.member}}</a></td>
                
                {% endfor %}
                
            </tr>
        {% endfor %}
        <tr><td class="text-center" colspan="{{interviewer_headers|length|add:"1"}}"><strong>Some Concern</strong></td></tr>
        {% for electee in yellow_electees %}
            <tr>
                <td>
                {{electee.electee}}
                </td>
                {% for followup in electee.followups %}
                <td {% if followup.recommendation == 'Y' %} class="success"{% elif followup.recommendation == 'N' %} class="danger" {% else %} class="warning" {%endif %}><a href="{% url 'electees:view_interview_follow_up' followup.id %}"> {{followup.member}}</a></td>
                
                {% endfor %}
                
            </tr>
        {% endfor %}
        <tr><td class="text-center" colspan="{{interviewer_headers|length|add:"1"}}"><strong>Strong Concern</strong></td></tr>
        {% for electee in red_electees %}
            <tr>
                <td>
                {{electee.electee}}
                </td>
                {% for followup in electee.followups %}
                <td {% if followup.recommendation == 'Y' %} class="success"{% elif followup.recommendation == 'N' %} class="danger" {% else %} class="warning" {%endif %}><a href="{% url 'electees:view_interview_follow_up' followup.id %}"> {{followup.member}}</a></td>
                
                {% endfor %}
                
            </tr>
        {% endfor %}
        <tr><td class="text-center" colspan="{{interviewer_headers|length|add:"1"}}"><strong>No Data</strong></td></tr>
        {% for electee in blank_electees %}
            <tr>
                <td>
                {{electee.electee}}
                </td>
                {% for followup in electee.followups %}
                <td {% if followup.recommendation == 'Y' %} class="success"{% elif followup.recommendation == 'N' %} class="danger" {% else %} class="warning" {%endif %}><a href="{% url 'electees:view_interview_follow_up' followup.id %}"> {{followup.member}}</a></td>
                
                {% endfor %}
                
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

</div>
{% endblock content %}

