{% extends "electees/base_electees.html" %}
{% block content %}
<div class="row">

    <div class="col-md-offset-2 col-md-8">
        <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Electee</th>
                <th>Shift</th>
                <th>Active(s)</th>
            </tr>
        </thead>
        <tbody>
        {% for interview in interviews %}
            <tr>
                <td>
                {% for electee in interview.interviewee_shift.attendees.all %}
                    <p>{{electee}}</p>
                {% endfor %}
                </td>
                <td>
                <p><strong>{{interview.interviewer_shift.event.name|slice:":-9"}}</strong></p>
                <p>{{interview.interviewer_shift.start_time|date:"N j, Y" }}</p>
                <p>{{interview.interviewer_shift.start_time|date:"f a"}}&ndash;{{interview.interviewer_shift.end_time|date:"f a"}}<p>
                <p>{{interview.interviewer_shift.location}}</p>
                {% if can_view_follow_ups %}
                 {% for follow_up in interview.electeeinterviewfollowup_set.all %}
                <p><a href="{% url 'electees:view_interview_follow_up' follow_up.id %}">View Followup from {{follow_up.member}}</a></p>
                {% endfor %}
                {% endif %}
                </td>
                 <td>
                {% for active in interview.interviewer_shift.attendees.all %}
                    <p>{{active}}</p>
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

</div>
{% endblock content %}

