{% extends "electees/base_electees.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="row">
        <div class="col-md-12">
        {% if can_edit_resources or can_edit_surveys %}
        <div class="btn-group">
        {% endif %}
        {% if can_edit_resources %}
            <a href="{% url 'electees:edit_electee_resources' %}" class="btn btn-warning">Edit Electee Resources</a>
            <a class="btn btn-warning" href="/media/{{electee_resumes}}"><i class="glyphicon glyphicon-file"></i> Download Electee Resumes</a> 

        {% endif %}
        {% if can_edit_surveys %}
            <a href="{% url 'electees:manage_survey' %}" class="btn btn-warning">Manage Electee Interview Process</a>
        {% endif %}
        {% if can_edit_resources or can_edit_surveys %}
        </div>
        <p></p>
        {% endif %}
        {% if can_complete_surveys or can_submit_background_form or can_submit_interview_followups%}
        <div class="btn-group">
        {% endif %}
        {% if can_complete_surveys %}
            <a href="{% url 'electees:complete_survey' %}" class="btn btn-primary">Electee Questionnaire</a>
        {% endif %}
        {% if can_submit_background_form %}
        <a href="{% url 'electees:submit_background_form' %}" class="btn btn-primary">Educational Background Form</a>
        {% endif %}
        {% if can_submit_interview_followups %}
         <a href="{% url 'electees:view_my_interview_forms' %}" class="btn btn-primary">Submit Interview Follow-ups</a>
        {% endif %}
        {% if can_complete_surveys or can_submit_background_form or can_submit_interview_followups%}
        </div>
        {% endif %}
        {% if can_view_followups %}
        <div class="btn-group">
                <a href="{% url 'electees:view_interview_follow_up_table' %}" class="btn btn-primary">View Interview Followups</a>
        </div>
        {% endif %}
        
        <h3>Electee Resources</h3>
        <h4>Full Packets</h4>
    {% regroup packets|dictsort:"resource_type.id" by resource_type as packets_by_type %}
    {% for resource_type in packets_by_type %}
        <h5>{{resource_type.grouper}}</h5>
        {% for resource in resource_type.list|dictsort:"id"  %}
        <p><a href="{{resource.resource_file.url}}">{{resource}}{% if resource_type.list|length > 1 %} -{{ forloop.counter }}{% endif %}</a></p>
        {% endfor %}
        {% endfor %}
        <hr>
        <h4>Packet Items</h4>
    {% regroup resources|dictsort:"resource_type.id" by resource_type as resources_by_type %}
    {% for resource_type in resources_by_type %}
        <h5>{{resource_type.grouper}}</h5>
        {% for resource in resource_type.list|dictsort:"id"  %}
        <p><a href="{{resource.resource_file.url}}">{{resource}}{% if resource_type.list|length > 1 %} -{{ forloop.counter }}{% endif %}</a></p>
        {% endfor %}
    {% endfor %}
    <hr>
    </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
        <div clas="panel-group" id="past-resources-accordion" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                        Past Electee Resources
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <h4>Full Packets</h4>
    {% regroup old_packets|dictsort:"resource_type.id" by resource_type as packets_by_type %}
    {% for resource_type in packets_by_type %}
        <h5>{{resource_type.grouper}}</h5>
        {% for resource in resource_type.list|dictsort:"id"  %}
        <p><a href="{{resource.resource_file.url}}">{{resource}}{% if resource_type.list|length > 1 %} -{{ forloop.counter }}{% endif %}</a></p>
        {% endfor %}
        {% endfor %}
        <hr>
        <h4>Packet Items</h4>
    {% regroup old_resources|dictsort:"resource_type.id" by resource_type as resources_by_type %}
    {% for resource_type in resources_by_type %}
        <h5>{{resource_type.grouper}}</h5>
        {% for resource in resource_type.list|dictsort:"id"  %}
        <p><a href="{{resource.resource_file.url}}">{{resource}}{% if resource_type.list|length > 1 %} -{{ forloop.counter }}{% endif %}</a></p>
        {% endfor %}
    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
        </div>
    </div>
    </div>
    {% if groups|length > 0 %}
    <div class="col-md-4">
        <h3>Electee Teams</h3>
        {% for group in groups|dictsort:"group_name" %}
        <div>
            <h4>{{group.group_name}}</h4>
            <p>Team Leaders</p>
            <ul>
            {% for leader in group.leaders.all %}
                <li><a href="{% url 'member_resources:profile' leader.uniqname %}">{{leader.get_full_name}}</a></li>
            {% endfor %}
            </ul>
            <p>Team Members</p>
            <ul>
            {% for member in group.members.all %}
                <li><a href="{% url 'member_resources:profile' member.uniqname %}">{{member.get_full_name}}</a></li>
            {% endfor %}
            </ul>
        </div>
        <hr/>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h4>Electee Competition Standings</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
            {% regroup groups|dictsortreversed:"points" by points as groups_by_points %}
            {% for point_groups in groups_by_points %}
                {% for group in point_groups.list %}
                    <tr>
                        <td>{% if groups_by_points.list|length > 1 %}T{% endif %}{{group.get_ranking}}</td>
                        <td>{{group.group_name}}</td>
                        <td>{{point_groups.grouper}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock content %}
