{% extends "base.html" %}
{% block navMembers %}active{% endblock %}

{% block content %}
{% if current_elections %}
	{% for election in current_elections %}
		<h1>{{election.term.semester_type.name}} {{election.term.year }} Elections Nominations</h1>
		<p><a href="{% url 'elections:list' election.term.id %}">List of nominees</a></p>
		<p><a href="{% url 'elections:nominate' election.term.id %}">Make a nomination</a></p>
	{% endfor %}
	{% else %}
	<p> Nominations are not currently open. Check back later</p>
{% endif %}

{% endblock %}