{% extends "fora/base_fora.html" %}


{% block content  %}
<div class="row">
    <div class="col-md-3">
        {% for forum in fora %}
            {% include 'fora/forum_sidebar.html' %}
        {% endfor %}
        <hr>
        {% if can_create_forum %}
            <a href="{% url 'fora:create_forum' %}" class="btn btn-small btn-default">Create new forum</a>
        {% endif %}
    </div>
    <div class="col-md-6">
        {% include 'fora/active_thread.html' %}
    </div>
</div>
{% endblock %}
