{% extends "base.html" %}
{% block subnav %}
<li {% if subnav and subnav == 'index' %}class="active"{% endif%}><a href="{% url 'outreach:index' %}">Overview</a></li>
<li {% if subnav and subnav == 'mindset' %}class="active"{% endif%}><a href="{% url 'outreach:mindset' %}">MindSET</a></li>
<li {% if subnav and subnav == 'tutoring' %}class="active"{% endif%}><a href="{% url 'outreach:tutoring' %}">Tutoring</a></li>
<li {% if subnav and subnav == 'townhalls' %}class="active"{% endif%}><a href="{% url 'outreach:townhalls' %}">Town Halls</a></li>
{% endblock %}
