{% extends "outreach/base_outreach.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-2">
		<h2> Town Halls hosted by Tau Beta Pi</h2>
        <p>Ever want to get to know more about what really goes on in the University or College administration? Want to be able to ask Dean Munson why something is the way it is?</p>
        <p>Town Halls are a great way to give feedback to the administration, to get questions answered, and to get fed a little while your at it.</p>
        <hr>
        <iframe src="https://docs.google.com/forms/d/1yv7owmo-_KJpYYXc2WUs8dy3WND05HxuJaOhBGkznHI/viewform?embedded=true" width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <h3>Town Halls this Semester</h3>
        <p>Town Halls are added as scheduling permits throughout the semester, so be sure to check back later.</p>
        <ul id="event-list">
        {% for event in events %}
        {% with can_edit_event=False %}
            <li>
            {% include 'event_cal/event.html' %}
            </li>
            {% endwith %}
            {%empty %}
            <li>
            <p>We are still working on scheduling Town Halls. Please check back soon for the {{term}} schedule.</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
