{% extends "member_resources/base_member_resources.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-default" href="{% url 'member_resources:view_misc_reqs' %}"><i class="glyphicon glyphicon-chevron-left"></i> Back to Membership Admin</a>
        <h4>Current {{list_name}}</h4>
        <p>These are the members who currently are listed as {{list_name|lower}}, will be able to log-in and (if they haven't done so already) create profiles</p>
        <br>
        <table class="table table-bordered table-sm table-striped">
            {% for member in current_list %}
            {% if forloop.counter0|divisibleby:8 %}
            <tr>
            {% endif %}
                <td><p>{{member}}</p></td>
            {% if forloop.counter|divisibleby:8 or forloop.last %}
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6">
        <form method="post" action="{{request.path}}">
            {% csrf_token %}
            <h4>Add New {{list_name}}</h4>
        {% if error_lists.bad_uniqnames or error_lists.current_actives or error_lists.current_electees %}
        <p class="text-danger">There were errors in processing the list of uniqnames</p>
        {% if error_lists.bad_uniqnames %}
        <p class="text-danger">The following uniqnames are invalid:</p>
        <ul class="text-danger">
        {% for error in error_lists.bad_uniqnames %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if error_lists.current_actives %}
        <p class="text-danger">The following uniqnames are listed as actives already:</p>
        <ul class="text-danger">
        {% for error in error_lists.current_actives %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if error_lists.current_electees %}
        <p class="text-danger">The following uniqnames are listed as electees. {% if is_active_list %}If you wish to make them actives, please do so through the appropriate method (<a href="{% url 'member_resources:move_electees_to_active' %}">here</a>){% endif%}:</p>
        <ul class="text-danger">
        {% for error in error_lists.current_electees %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endif %}
    {{mass_form.as_p}}
    <input type="submit" value="Add New {{list_name}}" name = "mass-add"/>
</form>
</div>
</div>
{% endblock content %}
