{% extends "base.html" %}
{% block subnav %}
{% for link in mig_dropdowns.member_resources %}
    <li {%if subnav and subnav == link.subnav %}class="active"{% endif %}><a href="{{link.link}}">{{link.link_name}}</a></li>
    {% if link.subsubnav  and subnav and subnav == link.subnav%}
        {% for link2 in link.subsubnav %}
            <li class="subtab {%if subsubnav and subsubnav == link2.subnav %}active{% endif %}"><a href="{{link2.link}}">{{link2.link_name}}</a></li>
        {% endfor %}
    {% endif %}
{% endfor %}

{% endblock %}
