{% extends "base.html" %}
{% block subnav %}
<li {% if subnav and subnav == 'member_profiles' %}class="active"{% endif %}><a href="{% url 'member_resources:member_profiles' %}">Member Profiles</a></li>
{% if user.is_authenticated and not needs_profile and user.userprofile.is_member %}
    <li {% if subnav and subnav == 'view_own_progress' %}class="active"{% endif %}><a href="{% url 'member_resources:view_progress' user.username %}">Track My Progress</a></li>
{% endif %}
{% if extra_progress_tab %}
<li {% if subnav and subnav == 'view_others_progress' %}class="active"{% endif %}><a href="{% url 'member_resources:view_progress_list' %}">View Others' Progress</a></li>
{% endif %}
{% if misc_tab %}
<li {% if subnav and subnav == 'misc_reqs' %}class="active"{% endif %}><a href="{% url 'member_resources:view_misc_reqs' %}">Manage Requirements</a></li>
{% endif %}
{% if manage_membership_tab %}
<li {% if subnav and subnav == 'manage_members' %}class="active"{% endif %}><a href="{% url 'member_resources:manage_membership' %}">Manage Membership</a></li>
{% endif %}
{% if can_access_history %}
    <li  {% if subnav and subnav == 'history' %}class="active"{% endif %}><a href ="{% url 'member_resources:access_history' %}">Access History</a></li>
{% endif %}
<li {% if subnav and subnav == 'electees' %}class="active"{% endif %}><a href="{% url 'electees:view_electee_groups' %}">Electee Resources</a></li>
{% block subnavElectees %}

{% endblock %}
{% block subnavElections %}

{% endblock %}
{% if can_manage_website %}
<li  {% if subnav and subnav == 'website' %}class="active"{% endif %}><a href="{% url 'member_resources:manage_website' %}">Manage Website</a></li>
{% endif %}
{% endblock %}
