{% extends "member_resources/base_member_resources.html" %}
{% load staticfiles %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h3>Membership Management</h3>
        <p>This page is for managing the membership profiles/permissions.</p>
        <p>The items you have permission to manage are listed below.</p>
        <ul>
        {% if can_add_electee_members %}
        <li><a href="{% url 'member_resources:add_to_ugrad_electee_list' %}">Add New Undergrad Electees</a></li>
        <li><a href="{% url 'member_resources:add_to_grad_electee_list' %}">Add New Grad Electees</a></li>
        {% endif %}
        {% if can_manage_electees %}
            <li><a href="{% url 'member_resources:move_electees_to_active' %}">Move Electees To Actives</a></li>
            <li><a href="{% url 'member_resources:handle_electees_stopping_electing' %}">Update Electees Stopping Electing</a></li>
        {% endif %}
        {% if can_manage_project_leaders %}
            <li><a href="{% url 'member_resources:manage_project_leaders' %}">Manage Project Leaders</a></li>
        {% endif %}
        {% if can_manage_actives %}
            <li><a href="{% url 'member_resources:add_to_active_list' %}">Add Active Members</a></li>
            <li><a href="{% url 'member_resources:add_active_statuses' %}">Add Active/DA/PA Status for current term</a></li>
            <li><a href="{% url 'member_resources:manage_active_statuses' %}">Edit/Remove Active/DA/PA Status</a></li>
        {% endif %}
        {% if can_manage_officers %}
        <li><a href="{% url 'member_resources:manage_officers' current_term.id%}">Manage Officers for Current Term</a></li>
        <li><a href="{% url 'member_resources:manage_officers' next_term.id%}">Manage Officers for Next Term</a></li>
    </ul>
        <div class="accordion" id="allterms">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#allterms" href="#allTermsOpen">
                        Manage Officers for Other Terms
                    </a>
                </div>
                <div id="allTermsOpen" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <ul>
        {% for term in terms %}
        <li><a href="{% url 'member_resources:manage_officers' term.id%}">Manage Officers for {{term}} Term</a></li>
        {% endfor %}</ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        </ul>
    </div>
</div>
{% endblock content %}
