{% extends "member_resources/base_member_resources.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-default" href="{% url 'member_resources:view_misc_reqs' %}"><i class="glyphicon glyphicon-chevron-left"></i> Back to Membership Admin</a>
        <h4>Add/Remove Members as Project Leaders</h4>
<form method="post" action="{% url 'member_resources:manage_project_leaders' %}">
    {% csrf_token %}
    {{formset.management_form}}
    <table class="table table-striped">
        {% include 'formset_template.html' %}
    </table>
    <p><a class="btn btn-default add-row"  href="javascript:void(0)"/>Add another project leader</a></p>
    <input type="submit" value="Update Project Leaders" name = "submit"/>
</form>
    </div>
    <div class="col-md-6">
        <h4>Bulk Add Members as Project Leaders</h4>
        {% if error_list %}
        <p class="text-danger">The following uniqnames are not members</p>
        <ul>
        {% for error in error_list %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
        {% endif %}
<form method="post" action="{% url 'member_resources:manage_project_leaders' %}">
    {% csrf_token %}
    {{mass_form.as_p}}
    <input type="submit" value="Add Project Leaders" name = "mass-add"/>
</form>
</div>
</div>
{% endblock content %}
