{% extends "member_resources/base_member_resources.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h3>Requirement Management</h3>
        <p>This section is for managing members' progress toward requirements (paperwork, dues, electee exams, etc.) and also for updating the requirements themselves</p>
        <p>The items you have permission to manage are listed below.</p>
        {% if can_change_requirements %}
        <h4>Update/Change Requirements</h4>
        <ul>
            {% if can_change_active_reqs %}
            <li><a href="{% url 'member_resources:change_event_categories' %}">Change Event Categories</a></li>
            {% for distinction in active_distinctions %}
            <li><a href="{% url 'member_resources:change_requirements' distinction.id %}">Update {{distinction.name}} Requirements</a></li>
            {% endfor %}
        {% endif %}
        {% if can_change_ugrad_electee_reqs %}
            {% for distinction in ugrad_electee_distinctions %}
            <li><a href="{% url 'member_resources:change_requirements' distinction.id %}">Update {{distinction.name}} Requirements</a></li>
            {% endfor %}
        {% endif %}
        {% if can_change_grad_electee_reqs %}
            {% for distinction in grad_electee_distinctions %}
            <li><a href="{% url 'member_resources:change_requirements' distinction.id %}">Update {{distinction.name}} Requirements</a></li>
            {% endfor %}
        {% endif %}
        </ul>
        {% endif %}
        {% if can_manage_misc_reqs %}
        <h4>Manage Members' Progress toward Requirements</h4>
        <ul>
        {% if can_add_leadership_credit %}
            <li><a href="{% url 'member_resources:add_leadership_credit' %}">Add Leadership Credits</a></li>
        {% endif %}
        {% if can_manage_finances %}
            <li><a href="{% url 'member_resources:manage_dues' %}">Manage Dues Payment</a></li>
        {% endif %}
        {% if can_approve_tutoring %}
            <li><a href="{% url 'member_resources:approve_tutoring_forms' %}">Approve Tutoring Forms</a></li>
        {% endif %}
        {% if can_add_external_service %}
            <li><a href="{% url 'member_resources:add_external_service' %}">Add External Service Hours</a></li>
        {% endif %}
        {% if can_manage_electee_paperwork %}
            <li><a href="{% url 'member_resources:manage_electee_paperwork' %}">Manage Electee Paperwork</a></li>
        {% endif %}
        {% if can_manage_interviews %}
            <li><a href="{% url 'member_resources:manage_active_group_meetings' %}">Manage Active's Electee Team Meeting Attendance</a></li>
        {% endif %}

        </ul>
        {% endif %}
    </div>
    <hr class="hidden-md hidden-lg">
    <div class="col-md-6">
        <h3>Membership Management</h3>
        <p>This section is for managing the membership profiles/permissions.</p>
        <p>The items you have permission to manage are listed below.</p>
        <ul>
        {% if can_add_electee_members %}
        <li><a href="{% url 'member_resources:add_to_ugrad_electee_list' %}">Add New Undergrad Electees</a></li>
        <li><a href="{% url 'member_resources:add_to_grad_electee_list' %}">Add New Grad Electees</a></li>
        <li><a href="{% url 'member_resources:edit_list' %}">Edit List of Potential Electees</a></li>
        {% endif %}
        {% if can_manage_electees %}
            <li><a href="{% url 'member_resources:move_electees_to_active' %}">Move Electees To Actives</a></li>
            <li><a href="{% url 'member_resources:handle_electees_stopping_electing' %}">Update Electees Stopping Electing</a></li>
        {% endif %}
        {% if can_manage_project_leaders %}
            <li><a href="{% url 'member_resources:manage_project_leaders' %}">Manage Project Leaders</a></li>
        {% endif %}
        {% if can_manage_actives %}
            <li><a href="{% url 'member_resources:add_to_active_list' %}">Add Active Members</a></li>
            <li><a href="{% url 'member_resources:add_active_statuses' %}">Add Active/DA/PA Status for current term</a></li>
            <li><a href="{% url 'member_resources:manage_active_statuses' %}">Edit/Remove Active/DA/PA Status</a></li>
            <li><a href="{% url 'member_resources:add_electee_DA_PA_status' %}">Add Electee DA/PA Status</a></li>
        {% endif %}
        {% if can_manage_background_checks %}
            <li><a href="{% url 'member_resources:add_background_checks' %}">Add Background Checks</a></li>
            <li><a href="{% url 'member_resources:mass_add_background_checks' %}">Add Many Background Checks</a></li>
        {% endif %}
        {% if can_manage_committees %}
        <li><a href="{% url 'member_resources:manage_committee_members' current_term.id%}">Manage Committee Members for Current Term</a></li>
        {% endif %}
        {% if can_manage_officers %}
        <li><a href="{% url 'member_resources:manage_committees' %}">Manage Committees</a></li>
        <li><a href="{% url 'member_resources:manage_officers' current_term.id%}">Manage Officers for Current Term</a></li>
        <li><a href="{% url 'member_resources:manage_officers' next_term.id%}">Manage Officers for Next Term</a></li>
    </ul>
        <div class="panel-group" id="allterms">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#allterms" href="#allTermsOpen">
                            Manage Officers for Other Terms
                        </a>
                    </h4>
                </div>
                <div id="allTermsOpen" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
        {% for term in terms %}
        <li><a href="{% url 'member_resources:manage_officers' term.id%}">Manage Officers for {{term}} Term</a></li>
        {% endfor %}</ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        </ul>
        {% if can_view_demographics or can_manage_actives %}
        <h3>Member Demographics</h3>
        <ul>
        {% if can_view_demographics %}
             <li><a href="{% url 'member_resources:download_member_data' %}">Download COE Member Data</a></li>
             <li><a href="{% url 'member_resources:download_active_status' %}">Download Active Status Data</a></li>
             <li><a href="{% url 'member_resources:download_elections_voters' %}">Download Active/Electee Status for Elections</a></li>
        {% endif %}
        {% if can_manage_actives %}
            <li><a href="{% url 'member_resources:download_member_data_email' %}">Download Member Data for Email Lists</a></li>
        {% endif %}
        </ul>
        {% endif %}
    </div>
    
    
</div>
{% endblock content %}
