{% extends "member_resources/base_member_resources.html" %}
{% load staticfiles %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
<h3>Meeting Surveys for {{term}}</h3>
{% for meeting in surveys %}
<h4> Surveys for {{meeting.meeting}}</h4>
<table class="table table-striped table-bordered">
        {% for survey in meeting.surveys %}
            {% if forloop.first %}
            <thead>
                <tr>
                    <th>{{survey.meeting_data.quick_question}}</th>
                    <th>Free response</th>
                </tr>
            </thead>
            <tbody>
            {% endif %}
                <tr>
                    <td>{{survey.question_response}}</td>
                    <td>{{survey.free_response}}</td>
                </tr>
            {% if forloop.last %}
        </tbody>
            {% endif %}
        {% endfor %}

</table>
{% endfor %}
</div>
</div>
{% endblock content %}
