{% extends "member_resources/base_member_resources.html" %}
{% load staticfiles %}

{% block content %}
{% if can_upload_minutes %}
<div class = "row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="{% url 'member_resources:upload_minutes' %}">Upload Minutes</a></p>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-3">
        <ul class = "nav nav-pills nav-stacked">
            {% if user_is_member %}
            <li {% if minutes_name == 'Officer Meeting Minutes' %}class="active"{% endif%}><a href="{% url 'member_resources:officer_meeting_minutes' %}" >Officer Meeting Minutes</a></li>
            {% endif %}
            <li {% if minutes_name == 'Meeting Minutes' %}class="active"{% endif%}><a href="{% url 'member_resources:main_meeting_minutes' %}" >General Meeting Minutes</a></li>
            {% if user_is_member %}
            <li {% if minutes_name == 'Advisory Board Minutes' %}class="active"{% endif%}><a href="{% url 'member_resources:advisory_board_meeting_minutes' %}" >Advisory Board Meeting Minutes</a></li>
            {% endif %}
            <li {% if minutes_name == 'New Initiatives Meeting Minutes' %}class="active"{% endif%}><a href="{% url 'member_resources:new_initiatives_meeting_minutes' %}">New Initiatives Meeting Minutes</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <h3>{{minutes_name}}</h3>
        <div class="row">
            {% if minutes %}
            {% regroup minutes|dictsortreversed:"semester.id" by semester as minutes_by_term %}
            {% for minutes_term in minutes_by_term %}
            <div class="col-md-3">
                <h5>{{minutes_term.grouper}}</h5>
                {% for minute in minutes_term.list %}
                    <p><a href="{{minute.pdf_file.url}}">{{minute}}</a></p>
                {% endfor %}
            </div>
            {% cycle '' '' '' '</div><hr/><div class="row">' %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
