{% extends "member_resources/base_member_resources.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <a class="btn btn-default" href="{%url 'member_resources:view_progress_list' %}"><i class="glyphicon glyphicon-chevron-left"></i> Member Progress</a>
        <a class="btn btn-default" href="#active_progress"> Active Progress </a>
        <a class="btn btn-default" href="#ug_electee_progress"> Undergrad Electee Progress </a>
        <a class="btn btn-default" href="#grad_electee_progress"> Grad Electee Progress </a>
        <p>Parenthesized quantities indicate progress after events signed up for are taken into account.</p>
    </div>
</div>
{%if can_manage_actives %}  
<div class="row">
    <div class="col-md-12">
        <h4 id="active_progress">Active Progress</h4>
        <table class="table table-striped table-bordered table-autosort:0">
            <thead>
            <tr>
                <th class="table-sortable:ignorecase table-filterable" title="Click to sort by name">Name <i class="fa fa-sort"> </i><br/><input name="filter" size="8" onkeyup="Table.filter(this,this)"></th>
                <th class="table-sortable:ignorecase table-filterable" title="click to sort by uniqname">Uniqname <i class="fa fa-sort"> </i><br/><input name="filter" size="8" onkeyup="Table.filter(this,this)"></th>
                {%for req in active_reqs %}
                <th class="table-sortable:numeric table-filterable" title="Click to sort by {{req}}">{{req}} <i class="fa fa-sort"> </i></th>
                {% endfor %}
                {% for distinction in distinctions_actives %}
                <th class="table-sortable:ignorecase table-filterable" title="Click to sort by completion">Has {{distinction}} status? <i class="fa fa-sort"> </i></th>
                <th class="table-sortable:ignorecase table-filterable" title="Click to sort by is close">Is close? <i class="fa fa-sort"> </i></th>
                {% endfor %}
            </tr>
        </thead>
            {% for row in progress_rows %}
            <tr>
                <td><a href="{% url 'member_resources:view_progress' row.member.uniqname %}">{{row.member.get_full_name}}</a></td>
                <td>{{row.member.uniqname}}</td>
                {% for item in row.merged %}
                {% if item.has.sat != item.has.full or item.will_have.sat != item.will_have.full %}
                <td><p rel="tooltip" data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Note that only 15 hours may be counted from a single service event. {{row.member.first_name}} has completed {{item.has.full}} total hours in this category.">{{item.has.sat}}* ({{item.will_have.sat}})</p></td>
                {% else %}
                <td>{{item.has.sat}} ({{item.will_have.sat}})</td>
                {% endif %}
                {% endfor %}
                {% for item in row.distinctions %}
                    <td>{{item|yesno:"Yes,No"}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <a href="{%url 'member_resources:download_active_progress' %}">Click to download spreadsheet of Actives' Progress</a>
    </div>
</div>
{%endif%}
{%if can_manage_electees %}
<div class="row">
    <div class="col-md-12">
        <h4 id="ug_electee_progress">Undergrad Electee Progress</h4>
        <table class="table table-striped table-bordered table-autosort:0">
            <thead>
            <tr>
                <th class="table-sortable:ignorecase table-filterable" title="Click to sort by name">Name <i class="fa fa-sort"> </i><br/><input name="filter" size="8" onkeyup="Table.filter(this,this)"></th>
                <th class="table-sortable:ignorecase table-filterable" title="click to sort by uniqname">Uniqname <i class="fa fa-sort"> </i><br/><input name="filter" size="8" onkeyup="Table.filter(this,this)"></th>
                {%for req in ugrad_electees_reqs %}
                <th class="table-sortable:numeric table-filterable" title="Click to sort by {{req}}">{{req}} <i class="fa fa-sort"> </i></th>
                {% endfor %}
                {% for distinction in distinction_ugrad_el %}
                <th class="table-sortable:ignorecase table-filterable" title="Click to sort by completion">Has {{distinction}} status? <i class="fa fa-sort"> </i></th>
                <th class="table-sortable:ignorecase table-filterable" title="Click to sort by is close">Is close? <i class="fa fa-sort"> </i></th>
                {% endfor %}
            </tr>
            </thead>
            {% for row in progress_rows_ugrad_el %}
            <tr>
                <td><a href="{% url 'member_resources:view_progress' row.member.uniqname %}">{{row.member.get_full_name}}</a></td>
                <td>{{row.member.uniqname}}</td>
                {% for item in row.merged %}
                <td>{{item.has.full}} ({{item.will_have.full}})</td>
                {% endfor %}
                {% for item in row.distinctions %}
                    <td>{{item|yesno:"Yes,No"}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
        <a href="{%url 'member_resources:download_ugrad_el_progress' %}">Click to download spreadsheet of Undergrad Electees' Progress</a>
</div>
<div class="row">
    <div class="col-md-12">
        <h4 id="grad_electee_progress">Grad Electee Progress</h4>
        <table class="table table-striped table-bordered table-autosort:0">
            <thead>
            <tr>
                <th class="table-sortable:ignorecase table-filterable" title="Click to sort by name">Name <i class="fa fa-sort"> </i><br/><input name="filter" size="8" onkeyup="Table.filter(this,this)"></th>
                <th class="table-sortable:ignorecase table-filterable" title="click to sort by uniqname">Uniqname <i class="fa fa-sort"> </i><br/><input name="filter" size="8" onkeyup="Table.filter(this,this)"></th>
                {%for req in grad_electees_reqs %}
                <th class="table-sortable:numeric table-filterable" title="Click to sort by {{req}}">{{req}} <i class="fa fa-sort"> </i></th>
                {% endfor %}
                {% for distinction in distinction_grad_el %}
                <th class="table-sortable:ignorecase table-filterable" title="Click to sort by completion">Has {{distinction}} status? <i class="fa fa-sort"> </i></th>
                <th class="table-sortable:ignorecase table-filterable" title="Click to sort by is close">Is close? <i class="fa fa-sort"> </i></th>
                {% endfor %}
            </tr>
            </thead>
            {% for row in progress_rows_grad_el %}
            <tr>
                <td><a href="{% url 'member_resources:view_progress' row.member.uniqname %}">{{row.member.get_full_name}}</a></td>
                <td>{{row.member.uniqname}}</td>
                {% for item in row.merged %}
                <td>{{item.has.full}} ({{item.will_have.full}})</td>
                {% endfor %}
                {% for item in row.distinctions %}
                    <td>{{item|yesno:"Yes,No"}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
        <a href="{%url 'member_resources:download_grad_el_progress' %}">Click to download spreadsheet of Grad Electees' Progress</a>
</div>
{%endif%}
{% endblock content %}
{% block js %}
<script src="{% static 'js/sort_filter_table.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $("[rel='tooltip']").popover()
    });
</script>
{% endblock %}
