{% extends "member_resources/base_member_resources.html" %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8 ">
    <h3>View electee questionnaire responses</h3>
    <table class="table table-striped table-rounded">
    <tbody>
    <tr>
    <td><strong>Electee:</strong></td><td> {{electee}}</td>
    </tr>
    {% for datum in data %}
    <tr><td><strong>{{datum.part.title}}</strong></td><td>{{datum.part.instructions}}</td></tr>
    {% for qa in datum.qas %}
         <tr><td>{{qa.q.text}}</td><td>{{qa.a}}</td></tr>
    {% endfor %}
    {% endfor %}
    
</tbody>
</table>
    </div>
</div>
{% endblock content %}
