{% extends "member_resources/base_member_resources.html" %}
{% load staticfiles %}
{% load my_markdown %}

{% block content %}
{% if profile %}
<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <a class="btn btn-default" href="{% url 'member_resources:member_profiles' %}"><i class="glyphicon glyphicon-chevron-left"></i> Back to Member List</a>
        {% if is_user %}
            {% if not nonmember_profile %}
            <a class="btn btn-warning" href={% url 'member_resources:profile_edit' profile.uniqname %}>Edit Profile</a>
            {% endif %}
            <a class="btn btn-info" href={% url 'member_resources:update_preferences' %}>Edit Account Preferences</a>
        {% endif %}
    </div>
        <h3>{{profile.get_full_name}}</h3>
        {% if nonmember_profile %}
        <p><em>Guest Profile</em></p>
        {% endif %}
        <div class="row">
            {% if not nonmember_profile %}
            <div class="col-md-6">    
                <img class="img-responsive img-rounded" src="{{profile.photo.thumbnail.url}}"/>
            </div>
            {% endif %}
            <div class="col-md-6">
                <p><b>Goes by:</b> {{profile.get_casual_name}}</p>
                <p><b>Uniqname:</b> {{profile.uniqname}}</p>
                <p><b> Preferred email address:</b> <a href="mailto:{{profile.get_email}}">{{profile.get_email}}</a></p>
                {% if not nonmember_profile %}
                <p><b>Status and standing:</b> {{profile.standing.name}}, {{profile.status.name}}</p>
                <p><b>Initiated at:</b> {{profile.init_chapter}} in {{profile.init_term}}</p>
                <p><b>Major{{profile.major.all|length|pluralize}}:</b> {% for major in profile.major.all %}
                    {{major.name}}{% if profile.major.all|length > 2 and not forloop.last %},{% endif %}{% if profile.major.all|length > 1 and forloop.revcounter == 2 %} and {% endif %}
                    {% endfor %}</p>


                <p class="text-justify"><b>Bio: </b>{{profile.short_bio|my_markdown}}</p>
                {% if full_view %}
                {% if is_user %}<h4>Your info (only visible to you and to admins):</h4>{% endif %}
                <p><b>UMID:</b> {{profile.UMID}}</p>
                <p><b>Expected Graduation Date:</b> {{profile.expect_grad_date|date:"N j, Y"}}</p>
                {% if profile.edu_bckgrd_form %}
                <p><b>Educational Background Form:</b> <a href="{{profile.edu_bckgrd_form.url}}">Link</a>
                {% endif %}
                {% if checks %}
                <p><b>Background Checks on file:</b><br/>
                This lists the date the check was filed. AAPS background checks and BSA training are good for 2 years. UM background checks are good for 3.
                <ul>
                {% regroup checks|dictsort:"check_type" by get_check_type_display as grouped_checks %}
                {% for check_type in grouped_checks %}
                    {% if check_type.list %}
                    {% with sorted_checks=check_type.list|dictsortreversed:"date_added"  %}
                    <li><i>{{check_type.grouper}}:</i> {{sorted_checks.0.date_added}}</li>
                    {% endwith %}
                    {% endif %}
                {% endfor %}
                </ul>
                </p>
                {% endif %}
                <p><b>Alternate email address:</b> <a href="mailto:{{profile.alt_email}}">{{profile.alt_email}}</a></p>
                <p><b>Phone number:</b>: {{profile.phone}} </p>
                <p><b>Receive Corporate/Job Emails?</b>: {{profile.jobs_email|yesno:"Yes,No"}} </p>
                {% if profile.resume %}
                <p><b>Resume</b>: <a href="{{profile.resume.url}}">Link</a> </p>
                {% endif %}
                <p><b>Gender</b>: {{profile.get_gender_display}}</p>
                <p><b>Shirt Size</b>: {{profile.shirt_size.name}} </p>
                {% if profile.standing.name == "Alumni" %}
                <p><b>Desired email frequency </b>:{{profile.get_alum_mail_freq_display}} </p>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        {% if officer_positions %}
        <h4>Officer Positions Held</h4>
        {% for position in officer_positions %}
        <p>{{position.name}} in {{position.term}}</p>
        {% endfor %}
        <hr>
        {% endif %}
        {% if awards %}
        <h4>Awards Received</h4>
        {% for award in awards %}
        <p>{{award.award_type}} in {{award.term}}</p>
        {% endfor %}
        <hr>
        {% endif %}
        {% if has_distinctions %}
        <h4>Distinctions</h4>
        {%for distinction in distinction_terms %}
        <p><b>{{distinction.name}}: </b> {{distinction.terms}} term{{distinction.terms|pluralize}}.</p>
        {% endfor %}
        <hr>
        {% endif %}

    </div>
    <div class="col-md-3">
        {% regroup praise|dictsort:"public" by public as sorted_praise %}
        {% for visibility in sorted_praise %}
        {% if visibility.grouper %}
            <h4>{% if is_user %}Publicly-viewable {% endif%}Affirmations Received</h4>
            {% for praise_item in visibility.list %}
            {% if praise_item.approved or is_user %}
            <p>{%if not praise_item.approved %}(Hidden pending your approval) {%endif%}&ldquo;{{praise_item.description}}&rdquo;{% if not praise_item.anonymous %}&mdash;<em>{{praise_item.giver.get_firstlast_name}}</em>{% endif %}</p>
            {% else %}
            <p>Affirmation is hidden pending user approval.</p>
            {%endif%}
            {% endfor %}
        {% elif is_user %}
            <h4>Affirmations Received (viewable just to you)</h4>
            {% for praise_item in visibility.list %}
            <p>&ldquo;{{praise_item.description}}&rdquo;{% if not praise_item.anonymous %}&mdash;<em>{{praise_item.giver.get_firstlast_name}}</em>{% endif %}</p>
            {% endfor %}
        {% endif %}
        {% endfor %}
            
    </div>
</div>
{% endif %}
{% endblock content %}
