{% extends "member_resources/base_member_resources.html" %}
{% load staticfiles %}

{% block content %}
{% if electees|length > 0 or  active_html%}
<div class="row">
    <div class="col-md-12">
        <h3>Member Profiles</h3>
        <hr/>
        <div class="row">
        {% with members=electees member_type='Electees' %}

        {% include 'member_resources/member_list.html' %}
        {% endwith %}
        {{active_html|safe}}
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
