{% extends "member_resources/base_member_resources.html" %}
{% load staticfiles %}
{% load member_resources_extras %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        {% if not is_own_progress %}
        <a class="btn btn-default" href="{%url 'member_resources:view_progress_list' %}"><i class="glyphicon glyphicon-chevron-left"></i> Member Progress</a>
        {% endif %}
        <h3>{{profile}}</h3>
        <h4>Progress to date</h4>
        {% autoescape off %}
        {{reqs_html}}
        {% endautoescape %}
        <h4>Progress including events signed up for</h4>
        {% autoescape off %}
        {{reqs_html_future}}
        {% endautoescape %}

    </div>
    <div class="col-md-6" style="text-align:center;">
    {% if can_edit_progress %}
    <a class="btn btn-default" href="{% url 'member_resources:edit_progress' profile.uniqname %}">Edit Progress Items</a>
    {% endif %}
    {% if progress_items %}
        <h4>Progress Items to Date</h4>
        <div class="row">
            <div class="col-md-6" style="text-align:center;">
                <ul class="progress-list">
                {% for item in progress_items|partition:"2"|first %}
                    <li> 
                    <h5>{{item.name}}({{item.event_type}})</h5>
                    <p><strong>Amount completed:</strong> {{item.amount_completed}}</p>
                    <p>{{item.date_completed|date:"M d, Y"}}</p>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-6" style="text-align:center;">
                <ul class="progress-list">
                {% for item in progress_items|partition:"2"|last %}
                    <li> 
                    <h5>{{item.name}}({{item.event_type}})</h5>
                    <p><strong>Amount completed:</strong> {{item.amount_completed}}</p>
                    <p>{{item.date_completed|date:"M d, Y"}}</p>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
        <h4>Events signed up for</h4>
        {% if events_signed_up_for %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Hours</th>
                    <th>Hours completed by</th>
                </tr>
            </thead>
            {% for event in events_signed_up_for %}
                <tr>
                    <td>{{event.name}}</td>
                    <td>{{event.category}}</td>
                    <td>{{event.hours}}</td>
                    <td>{{event.end_date|date:"M d, Y"}}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>{% if is_own_progress %}You aren't{% else %}{{profile.first_name}} isn't{% endif %} signed up for any more events</p>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
    $(function(){
        $("[rel='tooltip']").popover()
    });
</script>
{% endblock js %}
