{% extends "event_cal/base_event_cal.html" %}
{% load staticfiles %}
{% load my_markdown %}

{% block cal_content %}
<h4>Overview</h4>
<ol>
    {% for part in announcement_parts %}
    <li>{{part.title}}</li>
    {% endfor %}
    {% for event in upcoming_events %}
    <li>{{event.name}}</li>
    {% endfor %}
</ol>
<h4>Announcements</h4>
{% for part in announcement_parts %}
<h5>{{part.title}}</h5>
<p>{{part.text|my_markdown}}</p>
<p>Contacts: {% for contact in part.contacts.all %}
<a href="mailto:{{contact.uniqname}}@umich.edu">{{ contact }}</a>{% if part.contacts.all|length > 2 and not forloop.last %}, {% endif %}{% if part.contacts.all|length > 1 and forloop.revcounter == 2 %} and {% endif %}{% endfor %}</p>
{% if part.sign_up_link %}
<p>Link: <a href="{{part.sign_up_link}}">{{part.sign_up_link}}</a></p>
{% endif %}
<hr>
{% endfor %}
<h4><a href="{% url 'event_cal:list' %}">Upcoming Events</a></h4>
{% for event in upcoming_events %}
<h5><a href="{% url 'event_cal:event_detail' event.id %}">{{event.name}}</a></h5>
<p><b>When: </b> {% if event.eventshift_set.all|length > 1 %}Shifts between {{event.get_start_and_end.start|date:"P M d, Y"}} and {{event.get_start_and_end.end|date:"P M d, Y"}}{%else%}{{event.get_start_and_end.start|date:"P"}} to {{event.get_start_and_end.end|date:"P, M d, Y"}}{% endif%}</p>
<p><b>Where: </b>{% for location in event.get_locations %}{{location}}{% if event.get_locations|length > 2 and not forloop.last %}, {% endif %}{% if event.get_locations|length > 1 and forloop.revcounter == 2 %} and {% endif %}{% endfor %}</p>
<p><b>What/Why: </b>{{event.announce_text|my_markdown}}</p>
<p>Contacts: {% for leader in event.leaders.all %}
<a href="mailto:{{leader.uniqname}}@umich.edu">{{ leader }}</a>{% if event.leaders.all|length > 2 and not forloop.last %}, {% endif %}{% if event.leaders.all|length > 1 and forloop.revcounter == 2 %} and {% endif %}{% endfor %}</p>
<hr>
{% endfor %}

{% endblock cal_content %}
