{% extends "base.html" %}
{% load my_markdown %}
{% block subnav %}
<li {% if subnav and subnav == 'gcal' %}class="active"{% endif %}><a href="{% url 'event_cal:index' %}">Google Calendar</a></li>
<li  {% if subnav and subnav == 'list' %}class="active"{% endif %}><a href="{% url 'event_cal:list' %}">Event List</a></li>
<li  {% if subnav and subnav == 'my_events' %}class="active"{% endif %}><a href="{% url 'event_cal:my_events' %}">My Events</a></li>
{% if can_submit_tutoring_form %}
<li {% if subnav and subnav == 'tutoring_form' %}class="active"{% endif %}><a href="{% url 'event_cal:submit_tutoring_form' %}">Submit Tutoring Form</a></li>
{% endif %}
{% if can_view_calendar_admin %}
<li  {% if subnav and subnav == 'admin' %}class="active"{% endif %}><a href="{% url 'event_cal:calendar_admin' %}">Calendar Admin</a></li>
{% endif %}
{% endblock %}

{% block content%}
<div class="row" style="min-width:88em;">
	<div class="col-md-9">
		{% block cal_content %}
		{% endblock cal_content %}
	</div> 
	<div class="col-md-3">
		<aside>
			{% if upcoming_events  and not edit%}
				<h1>Upcoming Events</h1>
				<ul id="event-list">
				{{upcoming_events|safe}}
				</ul>
				{% endif %}
		</aside>
	</div>
</div>



{% endblock content %}
