{% extends "base.html" %}
{% load my_markdown %}
{% block subnav %}
{% for link in mig_dropdowns.event_cal %}
<li {%if subnav and subnav == link.subnav %}class="active"{% endif %}><a href="{{link.link}}">{{link.link_name}}</a></li>
{% endfor %}
{% endblock %}

{% block content%}
<div class="row" style="min-width:88em;">
	<div class="col-md-9">
		{% block cal_content %}
		{% endblock cal_content %}
	</div> 
	<div class="col-md-3">
		<aside>
			{% if upcoming_events  and not edit%}
				<h1>Upcoming Events</h1>
				<ul id="event-list">
				{{upcoming_events|safe}}
				</ul>
				{% endif %}
		</aside>
	</div>
</div>



{% endblock content %}
