{% extends "event_cal/base_event_cal.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}" />
{% endblock css %}
{% block js %}
<script>
    function addtext(img_url,img_title,text_id) {
        var newtext="!["+img_title+"]("+img_url+" \""+img_title+"\")\n";
        var caretPos = document.getElementById(text_id).selectionStart;
        var textAreaTxt = jQuery("#"+text_id).val();
        jQuery("#"+text_id).val(textAreaTxt.substring(0,caretPos)+newtext+textAreaTxt.substring(caretPos));
    }
    $(document).ready(function(){
    options={}
    options.onError=function(content){
        console.log(content);
    };
{% for photo in event_photos %}
    ajaxGet('{% url 'get_eventphoto_ajax' photo.id %}', {},function(){
        },options);
{% endfor %}
     });
</script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
{% include 'datepicker.html' %}
{% endblock js %}
{% block cal_content %}
<h3>{{form_title}}</h3>
<p>{{help_text}}</p>
<p><strong>Note:</strong> If your event is on campus and needs a room, fill out the form <a href="http://tinyurl.com/tbprooms">here</a> so that one will be reserved for you.</p>
<div class="dropdown">
    <a class="btn btn-default" id="photoSelect" role="button" data-toggle="dropdown" href="#">Add Photo <span class="caret"></span></a>
    <ul id="menu1" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="photoSelect">
    {% for photo in event_photos %}
    {% if forloop.first %}
        {% with for_event=True %}
        {% include 'photo_dropdown.html' %}
        {% endwith %}
    {% else %}
    <li id="eventphoto{{photo.id}}">
    Loading...
    </li>
    {% endif %}
    {% endfor %}
     </ul>
</div>
<form action="{{ request.path }}" method="post" id="dynForm">{% csrf_token %}
    {% include 'event_cal/event_form.html' %}
</form>
{% endblock cal_content %}
