{% extends "event_cal/base_event_cal.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}" />
{% endblock css %}
{% block js %}
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
{% include 'datepicker.html' %}
{% endblock js %}
{% block cal_content %}
<h3>Create a new event</h3>
<p><strong>Note:</strong> If your event is on campus and needs a room, fill out the form <a href="http://tinyurl.com/tbprooms">here</a> so that one will be reserved for you.</p>
<form action="{% url 'event_cal:create_event' %}" method="post">{% csrf_token %}
    {% include 'event_cal/event_form.html' %}
</form>
{% endblock cal_content %}
