{% extends "event_cal/base_event_cal.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}" />
{% if formset %}
{{form.media.css}}
{% endif %}
{% endblock css %}
{% block js %}
<script>
    function addtext(img_url,img_title,text_id) {
        var newtext="!["+img_title+"]("+img_url+" \""+img_title+"\")\n";
        var caretPos = document.getElementById(text_id).selectionStart;
        var textAreaTxt = jQuery("#"+text_id).val();
        jQuery("#"+text_id).val(textAreaTxt.substring(0,caretPos)+newtext+textAreaTxt.substring(caretPos));
    }
</script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
{% include 'datepicker.html' %}
{% if formset %}
{{form.media.js}}
{% endif %}
{% endblock js %}
{% block cal_content %}
{% if not edit %}
    {% with full_view=True %}
        {% include 'event_cal/event.html' %}
    {% endwith %}
    {% if can_add_sign_in %}
        <a class="btn btn-primary btn-lg" href={% url 'event_cal:create_meeting_signin' event.id %}>Add meeting sign-in</a>
    {% endif %}
    {% if can_complete %}
        <a class="btn btn-success btn-lg" href="{% url 'event_cal:complete_event' event.id %}">Complete Event and Assign Hours</a>
    {% endif %}
    {% if can_edit_event %}
    {% if event.completed %}
    <a class="btn btn-info btn-lg" href="{% url 'event_cal:event_project_report' event.id %}">Add/Update Project Report</a>
    <a class="btn btn-warning btn-lg" href="{% url 'event_cal:update_completed_event' event.id %}">Update Event Progress</a>
    <a class="btn btn-info btn-lg" href="{% url 'event_cal:add_project_report_to_event' event.id %}">Add/Swap Existing Project Report</a>
    {% endif %}
    <a class="btn btn-primary btn-lg" href = "{% url 'event_cal:email_participants' event.id %}">Email Event Participants</a>
    {% endif %}
{% else %}
<h3>{{event.name}}</h3>
<div class="dropdown">
    <a class="btn btn-default" id="photoSelect" role="button" data-toggle="dropdown" href="#">Add Photo <span class="caret"></span></a>
    <ul id="menu1" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="photoSelect">
    {% for photo in event_photos %}
        <li role="presentation"><img style="max-width:200px;" role="menuitem" tabindex="-1" src="{{photo.photo.thumbnail.url}}"></img>
        <div class="btn-group">
            <button type="button" class="btn-default" onClick="addtext('{{photo.photo.thumbnail.url}}','{{photo.caption|escapejs}}','id_event-description')">Add to Description</button>
            <button type="button" class="btn-default" onClick="addtext('{{photo.photo.thumbnail.url}}','{{photo.caption|escapejs}}','id_event-announce_text')">Add to Announcement</button>
        </div>
        <hr/></li>
    {% endfor %}
     </ul>
</div>
<form action="{% url 'event_cal:edit_event' event.id %}" method="post" id="dynForm">{% csrf_token %}
    {% include 'event_cal/event_form.html' %}
</form>
{% endif %}

{% endblock cal_content %}
