{% load my_markdown %}
{% url 'event_cal:event_detail' event.id as event_page %}
<div style="position:relative;">
{% if event_page != request.path %}
<a href="{{event_page}}"><h3>{{event.name}}</h3></a>
{% else %}
<h3>{{event.name}}</h3>
{% endif %}
{% if can_edit_event %}
<div class="location-upper-right">
<a href="{% url 'event_cal:edit_event' event.id %}"><i class="icon-edit"></i> Edit</a>
<a href="{% url 'event_cal:delete_event' event.id %}"><i class="icon-remove"></i> Delete</a>
</div>
{% endif %}
{% if has_profile and user.userprofile.is_member %}
    {% if user.userprofile.memberprofile.status.name == 'Active' %}
    <p><b>Event/Requirement Type:</b> {{event.get_relevant_active_event_type}}</p>
    {% elif user.userprofile.memberprofile.standing.name == 'Undergraduate' %}
        <p><b>Event/Requirement Type:</b> {{event.get_relevant_ugrad_electee_event_type}}</p>
    {% else %}
        <p><b>Event/Requirement Type:</b> {{event.get_relevant_grad_electee_event_type}}</p>
    {% endif %}
{% else %}
    <p><b>Event Type:</b> {{event.event_type}}</p>
{% endif %}
    
        
<p class="text-justify">{{event.description|capfirst|my_markdown}}</p>
<p><b>Project Leaders: </b>
{% for leader in event.leaders.all %}
<a href="{% url 'member_resources:profile' leader.uniqname %}">{{ leader }}</a>{% if event.leaders.all|length > 2 and not forloop.last %}, {% endif %}{% if event.leaders.all|length > 1 and forloop.revcounter == 2 %} and {% endif %}{% endfor %}</p>
{% if event.eventshift_set.all|length < 2 %}
{% for shift in event.eventshift_set.all|dictsort:"start_time" %}
{% with total_attending=shift.attendees.count %}
<div id="event-shift">
	<p id="event-when"><b>When:</b> {{shift.start_time|date:"D. N d, Y P" }}&ndash;{% if shift.start_time|date:"N d Y" != shift.end_time|date:"N d Y" %}{{shift.end_time|date:"D. N d, Y P"}}{% else %}{{shift.end_time|date:"P"}}{% endif %}</p>
    <p id="event-where"><b>Where:</b> {{shift.location}}{% if shift.on_campus%} (on campus){% else %} (off campus){%endif%}</p>
    {% if user.is_authenticated and has_profile %}
    {% if user.userprofile.is_member and user.userprofile.memberprofile in event.get_attendees_with_progress %}
        {% if event.use_sign_in %}
            <p>You are already signed in to the event.</p>
        {% else %}
            <p>You have already received credit for this event.</p>
        {% endif %}
    {% elif user.userprofile in shift.attendees.all %}
        {% if shift.can_sign_in %}
            <p><a class="btn btn-small" href="{% url 'event_cal:meeting_sign_in' event.id shift.id %}"><i class="icon-ok"></i> Sign-in to {{event.name}}</a></p>
            {% if shift.is_before_start %}
                <p><a class="btn btn-small" href="{% url 'event_cal:unsign_up' event.id shift.id %}"><i class="icon-remove"></i> Unsign-up</a></p>
            {% endif %}
        {% elif shift.is_before_start %}
            <p><a class="btn btn-small" href="{% url 'event_cal:unsign_up' event.id shift.id %}"><i class="icon-remove"></i> Unsign-up</a></p>
            {% if event.use_sign_in %}
                <p>Event sign-in is not open until event starts.</p>
            {% endif %}
        {% else %}
            {% if not event.use_sign_in and not event.allow_advance_sign_up %}
                <p>Event does not support sign-in/up.</p>
            {% else %}
                <p>You cannot unsign-up after the event has started</p>
            {% endif %}
        {% endif %}
    {% else %}
        {% if shift.can_sign_in %}
            <p><a class="btn btn-small" href="{% url 'event_cal:meeting_sign_in' event.id shift.id %}"><i class="icon-ok"></i> Sign-in to {{event.name}}</a></p>
            {% if shift.can_sign_up %} 
                <p><a class="btn btn-small" href="{% url 'event_cal:sign_up' event.id shift.id %}"><i class="icon-ok"></i> Sign-up</a></p>
            {% endif %}
        {% elif shift.can_sign_up %}
            <p><a class="btn btn-small" href="{% url 'event_cal:sign_up' event.id shift.id %}"><i class="icon-ok"></i> Sign-up</a></p>
            {% if event.use_sign_in %}
                <p>Event sign-in is not open until event starts.</p>
            {% endif %}
        {% else %}
            {% if not event.use_sign_in and not event.allow_advance_sign_up %}
                <p>Event does not support sign-in/up.</p>
            {% elif shift.is_full %}
                <p>Event is full.</p>
            {% elif event.use_sign_in and shift.is_before_start %}
                <p>Event sign-in is not open until event starts.</p>
            {% elif event.use_sign_in %}
                <p>Sign in not allowed after the event ends.</p>
            {% else %}
                <p>Sign up not allowed after the event starts.</p>
            {% endif %}
        {% endif %}
    {% endif %}
            
    {% elif user.is_authenticated %}
        <p>You must create a profile to sign-up</p>
    {% else %}
        <p>You must login to sign-up</p>
    {% endif %}
    <p><b>Attendees:</b><p>
    {% if full_view and has_profile%} 
    <ul>
        {% for attendee in shift.attendees.all %}
            {% url 'member_resources:profile' attendee.uniqname as profile_url %}
            <li>
            {% if attendee.is_member %}
                <a href="{{profile_url}}">{{attendee}}</a>
            {% else %}
                {{attendee}}
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    <p>Total:</p>
    {% endif %}
    {% if shift.max_attendance != None %}
        <p>{{total_attending}} of {{shift.max_attendance}} spots.</p>
    {% else %}
        <p>{{total_attending}} (no limit)</p>
    {% endif %}

</div>
{% endwith %}
{% endfor %}
{% else %}
<div class="accordion" id="shifts{{ event.id }}">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#shifts{{ event.id }}" href="#shiftscol{{ event.id }}">
                <h5>Shifts</h5>
            </a>
        </div>
        <div id="shiftscol{{ event.id }}" class="accordion-body collapse{% if event.id == event_signed_up %} in{% endif %}">
            <div class="accordion-inner">
                <table class="table table-striped">
                    <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Location</th> 
                        <th>Attendees</th>
                        <th>Sign-up for shift</th>
                        {% if can_edit_event %}
                            <th></th>
                        {% endif %}
                    </tr>
                    {% for shift in event.eventshift_set.all|dictsort:"start_time" %}
                    {% if not only_mine or user.userprofile in shift.attendees.all %}
                    {% with total_attending=shift.attendees.count %}
                        <tr>
                            <td>{{ shift.start_time|date:"D. N d, Y P" }}</td>
                            <td>{{ shift.end_time|date:"D. N d, Y P" }}</td>
                            <td>{{ shift.location}}{% if shift.on_campus%} (on campus){% else %} (off campus){%endif%}</td>
                            <td>
                            {% if full_view and has_profile %} 
                                <ul>
                                {% for attendee in shift.attendees.all %}
                                    {% url 'member_resources:profile' attendee.uniqname as profile_url %}
                                    <li>
                                    {% if attendee.is_member %}
                                        <a href="{{profile_url}}">{{attendee}}</a>
                                    {% else %}
                                        {{attendee}}
                                    {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% if shift.max_attendance != None %}
                                <p>{{total_attending}} of {{shift.max_attendance}} spots.</p>
                            {% else %}
                                <p>{{total_attending}} (no limit)</p>
                            {% endif %}
                            </td>
                            {% if user.is_authenticated and has_profile %}
    {% if user.userprofile.is_member and user.userprofile.memberprofile in event.get_attendees_with_progress %}
        {% if event.use_sign_in %}
            <td>You are already signed in to the event.</td>
        {% else %}
            <td>You have already received credit for this event.</td>
        {% endif %}
    {% elif user.userprofile in shift.attendees.all %}
        {% if shift.can_sign_in %}
            <td><p><a class="btn btn-small" href="{% url 'event_cal:meeting_sign_in' event.id shift.id %}"><i class="icon-ok"></i> Sign-in to {{event.name}}</a></p>
            {% if shift.is_before_start %}
                <p><a class="btn btn-small" href="{% url 'event_cal:unsign_up' event.id shift.id %}"><i class="icon-remove"></i> Unsign-up</a></p>
            {% endif %}
            </td>
        {% elif shift.is_before_start %}
            <td><p><a class="btn btn-small" href="{% url 'event_cal:unsign_up' event.id shift.id %}"><i class="icon-remove"></i> Unsign-up</a></p>
            {% if event.use_sign_in %}
                <p>Event sign-in is not open until event starts.</p>
            {% endif %}
            </td>
        {% else %}
            {% if not event.use_sign_in and not event.allow_advance_sign_up %}
                <td>Event does not support sign-in/up.</td>
            {% else %}
                <td>You cannot unsign-up after the shift has started</td>
            {% endif %}
        {% endif %}
    {% else %}
        {% if shift.can_sign_in %}
            <td><p><a class="btn btn-small" href="{% url 'event_cal:meeting_sign_in' event.id shift.id %}"><i class="icon-ok"></i> Sign-in to {{event.name}}</a></p>
            {% if shift.can_sign_up %} 
                <p><a class="btn btn-small" href="{% url 'event_cal:sign_up' event.id shift.id %}"><i class="icon-ok"></i> Sign-up</a></p>
            {% endif %}
            </td>
        {% elif shift.can_sign_up %}
            <td><p><a class="btn btn-small" href="{% url 'event_cal:sign_up' event.id shift.id %}"><i class="icon-ok"></i> Sign-up</a></p>
            {% if event.use_sign_in %}
                <p>Event sign-in is not open until event starts.</p>
            {% endif %}
            </td>
        {% else %}
            {% if not event.use_sign_in and not event.allow_advance_sign_up %}
                <td>Event does not support sign-in/up.</td>
            {% elif shift.is_full %}
                <td>Shift is full.</td>
            {% elif event.use_sign_in and shift.is_before_start %}
                <td>Event sign-in is not open until event starts.</td>
            {% elif event.use_sign_in %}
                <td>Sign in not allowed after the event ends.</td>
            {% else %}
                <td>Sign up not allowed after the event starts.</td>
            {% endif %}
        {% endif %}
    {% endif %}
                            {% elif user.is_authenticated %}
                                <td>You must create a profile to sign-up</td>
                            {% else %}
                                <td>You must login to sign-up
                            {% endif %}
                            {% if can_edit_event %}
                                <td><a class="btn btn-small" href="{% url 'event_cal:delete_shift' event.id shift.id %}"><i class="icon-remove"></i> Delete shift</a></td>
                            {% endif %}
                        </tr>
                    {% endwith %}
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if full_view and can_edit_event and event.needs_carpool %}
{% regroup event.carpoolperson_set.all|dictsort:"get_role_display" by get_role_display as carpool_list %}
{% for role in carpool_list %}
    <h4>{{role.grouper}}</h4>
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Person</th>
            {% if role.grouper == 'Driver' %}
            <th> Number seats</th>
            {% endif %}
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for person in role.list %}
        <tr>
            <td>{{person.person}}</td>
            {% if role.grouper == 'Driver' %}
            <td> {{person.number_seats}}</td>
            {% endif %}
            <td>{{person.get_location_display}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endif %}

</div>
