{% extends "event_cal/base_event_cal.html" %}
{% load staticfiles %}
{% load my_markdown %}

{% block cal_content %}

{% url 'event_cal:event_detail' event.id as event_page %}

<div style="position:relative;">
<h3>{{event.name}}</h3>
{% if can_edit_event %}
<div class="location-upper-right">
<a href="{% url 'event_cal:edit_event' event.id %}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
<a href="{% url 'event_cal:delete_event' event.id %}" class="confirmation"><i class="glyphicon glyphicon-remove"></i> Delete</a>
</div>
{% endif %}
{% if not event.members_only %}
<div class="fb-like" data-kid-directed-site="true" data-href="https://tbp.engin.umich.edu{{event_page}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div><br/>
<div class="g-plusone" data-size="medium" data-href="https://tbp.engin.umich.edu{{ event_page|slice:":-1"}}"></div>
<p><a href="https://twitter.com/intent/tweet?screen_name=tbpmig" data-url="https://tbp.engin.umich.edu{{event_page}}" data-count="none" class="twitter-mention-button" data-lang="en">Tweet</a></p>                       
{% endif %}
{% if has_profile and user.userprofile.is_member %}
    {% if user.userprofile.is_active %}
    <p><b>Event/Requirement Type:</b> {{event.get_relevant_active_event_type}}</p>
    {% elif user.userprofile.is_ugrad %}
        <p><b>Event/Requirement Type:</b> {{event.get_relevant_ugrad_electee_event_type}}</p>
    {% else %}
        <p><b>Event/Requirement Type:</b> {{event.get_relevant_grad_electee_event_type}}</p>
    {% endif %}
{% else %}
    <p><b>Event Type:</b> {{event.event_type}}</p>
{% endif %}
    
        
<p class="text-justify">{{event.description|capfirst|my_markdown}}</p>
<p><b>Project Leaders: </b>
{% for leader in event.leaders.all %}
<a href="{% url 'member_resources:profile' leader.uniqname %}">{{ leader }}</a>{% if event.leaders.all|length > 2 and not forloop.last %}, {% endif %}{% if event.leaders.all|length > 1 and forloop.revcounter == 2 %} and {% endif %}{% endfor %}</p>


    <table class="table table-striped table-bordered">
    <thead>
    <tr>
    <th>
        
        </th>
    {% for location in locations %}
            <th colspan="2" style="text-align:center;">
            {{ location}}
            </th>
    {% endfor %}
    </tr>
    <tr>
        <th></th>
    {% for location in locations %}
        <th>Interviewer(s)</th>
        <th>Interviewee</th>
 
    {% endfor %}
   </tr>
    </thead>
    <tbody>
    {% for time_row in shifts %}
        <tr>
        <td>
            <p><strong>{{time_row.time|date:"D, N  d, Y"}}</strong></p>
            <p>{{time_row.time|time:"P"}}&ndash;</p>
           <p>{{time_row.end_time|time:"P"}}</p>
        </td>
        {% for shift in time_row.locations %}
            {% if shift %}
                <td>
                <p><em>{{shift.location}}</em></p>
                    {% with actual_shift=shift is_shift_two_part=False is_interviewer=True %}
                    {% include "event_cal/interview_sign_in.html" %}
                    {% endwith %}
                </td>
                <td>
                </ul>
                {% for interviewshift in shift.shift_interviewer.all %}
                    {% for interviewee in interviewshift.interviewee_shift.attendees.all %}
                    {% url 'member_resources:profile' interviewee.uniqname as profile_url %}
                    <li>
                    {% if interviewee.is_member %}
                        <a href="{{profile_url}}">{{interviewee}}</a>
                    {% else %}
                        {{interviewee}}
                    {% endif %}
                    </li>
                    {% empty %}
                        <p>Interview Slot Open</p>
                        <p>Electees must sign-up from the Electee event</p>
                    {% endfor %}
                {% endfor %}
                </ul>

                </td>
              
            {%else %}
            <td  colspan="2">
                No Shift
            </td>
            {%endif%}
        {%endfor%}
        </tr>   
    {% endfor %}
    </tbody>
    </table>
{% if can_edit_event and not full_view %}
    {% if event.can_complete_event %}
        <a class="btn btn-success btn-sm" href="{% url 'event_cal:complete_event' event.id %}">Complete Event and Assign Hours</a>
    {% endif %}
    {% if event.completed %}
        <a class="btn btn-info btn-sm" href="{% url 'event_cal:event_project_report' event.id %}">Add/Update Project Report</a>
        <a class="btn btn-warning btn-sm" href="{% url 'event_cal:update_completed_event' event.id %}">Update Event Progress</a>
        <a class="btn btn-info btn-sm" href="{% url 'event_cal:add_project_report_to_event' event.id %}">Add/Swap Existing Project Report</a>
    {% endif %}
{% endif %}
</div>    
{% endblock cal_content %}
