{% extends "event_cal/base_event_cal.html" %}
{% load staticfiles %}
{% load my_markdown %}

{% block cal_content %}

{% url 'event_cal:event_detail' event.id as event_page %}
<div style="position:relative;">
<h3>{{event.name}}</h3>
{% if can_edit_event %}
<div class="location-upper-right">
<a href="{% url 'event_cal:edit_event' event.id %}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
<a href="{% url 'event_cal:delete_event' event.id %}" class="confirmation"><i class="glyphicon glyphicon-remove"></i> Delete</a>
</div>
{% endif %}

{% if has_profile and user.userprofile.is_member %}
    {% if user.userprofile.is_active %}
    <p><b>Event/Requirement Type:</b> {{event.get_relevant_active_event_type}}</p>
    {% elif user.userprofile.is_ugrad %}
        <p><b>Event/Requirement Type:</b> {{event.get_relevant_ugrad_electee_event_type}}</p>
    {% else %}
        <p><b>Event/Requirement Type:</b> {{event.get_relevant_grad_electee_event_type}}</p>
    {% endif %}
{% else %}
    <p><b>Event Type:</b> {{event.event_type}}</p>
{% endif %}
    
        
<p class="text-justify">{{event.description|capfirst|my_markdown}}</p>
<p><b>Project Leaders: </b>
{% for leader in event.leaders.all %}
<a href="{% url 'member_resources:profile' leader.uniqname %}">{{ leader }}</a>{% if event.leaders.all|length > 2 and not forloop.last %}, {% endif %}{% if event.leaders.all|length > 1 and forloop.revcounter == 2 %} and {% endif %}{% endfor %}</p>

    <table class="table table-striped table-bordered">
    <thead>
    <tr>
    <th>
        
        </th>
    {% for location in locations %}
            <th colspan="2" style="text-align:center;">
            {{ location}}
            </th>
    {% endfor %}
    </tr>
    <tr>
        <th></th>
    {% for location in locations %}
        <th>Interviewee</th>
        <th>Interviewer(s)</th>
 
    {% endfor %}
   </tr>
    </thead>
    <tbody>
    {% for time_row in shifts %}
        <tr>
        <td>
            <p><strong>{{time_row.time|date:"D, N  d, Y"}}</strong></p>
            <p>{{time_row.time|time:"P"}}&ndash;</p>
           <p>{{time_row.end_time|time:"P"}}</p>
        </td>
        {% for shift in time_row.locations %}
            {% if shift %}
                <td>
{{ shift.id }}
                {% if is_two_part %}
                    {% with actual_shift=shift.first_shift is_shift_two_part=is_two_part %}
                    {% include "event_cal/interview_sign_in.html" %}
                    {% endwith %}
                {% else %}
                    {% with actual_shift=shift is_shift_two_part=is_two_part %}
                    {% include "event_cal/interview_sign_in.html" %}
                    {% endwith %}
                {% endif %}

                </td>
                
                {% if is_two_part %}
                <td style="padding:0;">
                    <table class="table" style="background:inherit;">
                    <tr>
                    <td style="border-top:None;">
                    {% for interviewshift in shift.first_shift.shift_interviewee.all %}
                    <p><em>{{interviewshift.interviewer_shift.location}}</em></p>
                        {% with actual_shift=interviewshift.interviewer_shift is_shift_two_part=False is_interviewer=True %}
                        {% include "event_cal/interview_sign_in.html" %}
                        {% endwith %}
                    {%endfor %} 
                    </td>
                    </tr>
                    <tr>
                    <td>
                    {% for interviewshift in shift.second_shift.shift_interviewee.all %}
                    <p><em>{{interviewshift.interviewer_shift.location}}</em></p>
                        {% with actual_shift=interviewshift.interviewer_shift is_shift_two_part=False is_interviewer=True %}
                        {% include "event_cal/interview_sign_in.html" %}
                        {% endwith %}
                    {% endfor %} 
                    </td>
                    </tr>
                    </table>
                {% else %}
                    <td>
                    {% for interviewshift in shift.shift_interviewee.all %}
                        {% with actual_shift=interviewshift.interviewer_shift is_shift_two_part=False %}
                        {% include "event_cal/interview_sign_in.html" %}
                        {% endwith %}
                    {% endfor %} 
                {% endif %}
                </td>
            {%else %}
            <td  colspan="2">
                No Shift
            </td>
            {%endif%}
        {%endfor%}
        </tr>   
    {% endfor %}
    </tbody>
    </table>
{% if can_edit_event and not full_view %}
    {% if event.can_complete_event %}
        <a class="btn btn-success btn-sm" href="{% url 'event_cal:complete_event' event.id %}">Complete Event and Assign Hours</a>
    {% endif %}
    {% if event.completed %}
        <a class="btn btn-info btn-sm" href="{% url 'event_cal:event_project_report' event.id %}">Add/Update Project Report</a>
        <a class="btn btn-warning btn-sm" href="{% url 'event_cal:update_completed_event' event.id %}">Update Event Progress</a>
        <a class="btn btn-info btn-sm" href="{% url 'event_cal:add_project_report_to_event' event.id %}">Add/Swap Existing Project Report</a>
    {% endif %}
{% endif %}
</div>
{% endblock cal_content %}
