{% extends "event_cal/base_event_cal.html" %}
{% load staticfiles %}
{% block subnavMyEvents %}active{% endblock %} 

{% block cal_content %}
{% with only_mine=True %}
<h3>My Events</h3>
<ul id="event-list">
    {% for packed_event in my_events %}
    {% with event=packed_event.event can_edit_event=packed_event.can_edit %}
<li>
{% include 'event_cal/event.html' %}
</li>
{% endwith %}
{% empty %}
<li>
{% if user.is_authenticated %}
<p>You are not signed up for any events.</p>
{% else %}
<p>You must be logged in to see your events.</p>
{% endif %}
</li>
{% endfor %}
</ul>
{% endwith %}
{% if events_im_leading|length > 0 %}
<h3>Events I'm Leading</h3>
<ul id="event-list">
    {% for event in events_im_leading %}
    {% with can_edit_event=True %}
<li>
{% include 'event_cal/event.html' %}
</li>
{% endwith %}
{% endfor %}
</ul>
{% endif %}
{% endblock cal_content %}
