{% load my_markdown %}
				{% for event in upcoming_events %}
				<li>
                <a href="{% url 'event_cal:event_detail' event.id %}"><h2 id="event-name">{{event.name}}</h2></a>
					<p id="event-description">{{event.announce_text|my_markdown}}</p>
					{% if event.eventshift_set.all|length > 1%}
					<p>Shifts:<p>
					{% endif %}
					{% if event.eventshift_set.all|length > 5 %}
					<p>Click event for shift details</p>
					{% else %}
                    {% for shift in event.eventshift_set.all|dictsort:"start_time" %}
						{% if shift.start_time > now %}
							{% if event.eventshift_set.all|length > 1%}
								<div id="event-shift">
							{% endif %}
							<p id="event-when"><b>When:</b> {{shift.start_time.date}}, {{shift.start_time.time}}&ndash;
							{% if shift.start_time.date != shift.end_time.date %}
								{{shift.end_time.date}},
							{% endif %}
							{{shift.end_time.time}}
							</p>
							<p id="event-where"><b>Where:</b> {{shift.location}}</p>
                            {% if event.eventshift_set.all|length > 1%}
                                <hr/>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% endif%}
					
				</li>
				{% endfor %}

