{% load my_markdown %}
				{% for event in upcoming_events %}
				<li>
                <a href="{% url 'event_cal:event_detail' event.id %}"><h2 id="event-name">{{event.name}}</h2></a>
					<p id="event-description">{{event.announce_text|my_markdown}}</p>
					{% if event.eventshift_set.all|length > 1%}
					<p>Shifts:<p>
					{% endif %}
					{% if event.eventshift_set.all|length > 5 %}
					<p>Click event for shift details</p>
					{% else %}
                    {% for shift in event.eventshift_set.all|dictsort:"start_time" %}
						{% if shift.start_time > now %}
							{% if event.eventshift_set.all|length > 1%}
								<div id="event-shift">
							{% endif %}
							<p id="event-when"><b>When:</b> {{shift.start_time|date:"D. N j, Y" }}, {{shift.start_time|date:"f a"}}&ndash;
                            
							{% if shift.start_time|date:"N j, Y"  != shift.end_time|date:"N j, Y"  %}
								{{shift.end_time|date:"D. N j, Y"}},
							{% endif %}
							{{shift.end_time|date:"f a"}}
							</p>
							<p id="event-where"><b>Where:</b> {{shift.location}}</p>
                            {% if shift.max_attendance == None %}
                            <p>No attendance limit. {{shift.attendees.count}} attendees so far.</p>
                            {% elif shift.max_attendance %}
                            <p>{% if event.eventshift_set.all|length > 1 %}Shift{% else %}Event{%endif%} is {{shift.attendees.count}}/{{shift.max_attendance}} full.</p>
                            {% endif %}
                            {% if event.eventshift_set.all|length > 1%}
                                <hr/>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% endif%}
					
				</li>
				{% endfor %}

