<!doctype html>
    <html lang="en">

    <!--Meta information-->
    <head>
    <meta charset=utf-8>
    <title>SWE/TBP Career Fair: Companies Attending</title>
    {% load staticfiles %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/cf.css' %}" />
    <meta name=description value="The SWE/TBP Career Fair held annually at the University of Michigan College of Engineering">
    <meta name=keywords value="job, career, fair, swe, engineering, tbp, michigan">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
    var pagename="Inventory";
    </script>
    <!--<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26073977-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>-->
    </head>

    <!--Main Content-->
    <body>

        <h1> Fall Engineering Career Fair Company List </h1>
        <p> The current company list can be found at <a href="https://www.umcareerfair.org/company-list">https://www.umcareerfair.org/company-list</a>.</p>
    <!-- <article>
    <h1>Companies Attending</h1>
    <div class="alert alert-info" role="alert">Company List will be updated after registration has closed. Please check back later.</div>
    <p>Click on column headers to sort the table by that column. Type in boxes to filter. For company descriptions, hover over the company name.</p>
    <h2>List of Majors</h2>
  <table>
    <tr>
      <td><strong>AERO:</strong> Aerospace Engineering</td>
      <td><strong>AOSS:</strong> Atmospheric, Oceanic, Space Sciences</td>
      <td><strong>APhys:</strong> Applied Physics</td>
      <td><strong>AUTO:</strong> Automotive Engineering</td>
    </tr>
    <tr>
      <td><strong>BME:</strong> Biomedical Engineering</td>
      <td><strong>CE:</strong> Computer Engineering</td>
      <td><strong>CHEME:</strong> Chemical Engineering</td>
      <td><strong>CIVIL:</strong> Civil Engineering</td>
    </tr>
    <tr>
      
      <td><strong>CS:</strong> Computer Science</td>
      <td><strong>EE:</strong> Electrical Engineering</td>
      <td><strong>EE:S:</strong> Electrical Engineering Systems</td>
      <td><strong>ENT:</strong> Entrepreneurship</td>
    </tr>
    <tr>
      <td><strong>ENV:</strong> Environmental Engineering</td>
      <td><strong>EP:</strong> Engineering Physics</td>
      <td><strong>ESE:</strong> Energy Systems Engineering</td>
      <td><strong>FE:</strong> Financial Engineering</td>
    </tr>
    <tr>
      <td><strong>IOE:</strong> Industrial and Operations Engineering</td>
      <td><strong>IP:</strong> Interdisciplinary Programs</td>
      <td><strong>ISD:</strong> Integrative Systems+Design</td>
      <td><strong>MECHE:</strong> Mechanical Engineering</td>
    </tr>
    <tr>
      <td><strong>MFE:</strong> Manufacturing Engineering</td>
      <td><strong>MSE:</strong> Materials Science and Engineering</td>
      <td><strong>NAME:</strong> Naval Architecture and Marine Engineering</td>
      <td><strong>NERS:</strong> Nuclear Engineering and Radiological Sciences</td>
    </tr>
    <tr>
      <td><strong>PHARM:</strong> Pharmaceutical Engineering</td>
      <td><strong>ROB:</strong> Robotics</td>
    </tr>
  </table>

    <h2>Hiring Policy:</h2>
    <p>Is the company willing to sponsor selected candidates for work authorization?</p>
    <ol>
    <li>Yes</li>
    <li>On Occassion</li>
    <li>No</li>
    </ol>
    <div class="table-holder">
    <table class=" table table-striped table-autosort:0" id="header-fixed">
    <thead style="background: white;"><tr>
    <th class="table-sortable:ignorecase table-filterable" title="Click to sort by company name">Company</th>
    <th class="table-sortable:ignorecase table-filterable" title="Click to sort by majors Hhring">Majors Hiring</th>
    <th class="table-sortable:ignorecase table-filterable" title="Click to sort by positions available">Positions Available</th>
    <th class="table-sortable:ignorecase table-filterable" title="Click to sort by degree required">Degree Required</th>
    <th class="table-sortable:ignorecase table-filterable" title="Click to sort by location">Job Location</th>
    <th class="table-sortable:ignorecase table-filterable" title="Click to sort by attendance date">Date Attending</th>
    <th class="table-sortable:numeric table-filterable" title="Click to sort by hiring policy">Hiring Policy</th>
    <th class="table-sortable:ignorecase table-filterable" title="Click to sort by expected receptions attendance">Attending Receptions?</th>
    <th class="table-sortable:ignorecase table-filterable" title="Click to sort by application webpage">Online Application Web Page</th>
    </tr>
    <tr>
    <th><input name="filter" size="8" onkeyup="Table.filter(this,this)"></th>
    <th><input name="filter" size="8" onkeyup="Table.filter(this,this)"></th>
    <th><select onchange="Table.filter(this,this)">
        <option value="function(){return true;}">Any</option>
        <option value="full">Full-Time</option>
        <option value="intern">Summer Internship</option>
        <option value="co.*op">Co-Op</option>
        </select></th>
    <th><select onchange="Table.filter(this,this)">
        <option value="function(){return true;}">Any</option>
        <option value="ph">Ph.D.</option>
        <option value="master">Master's</option>
        <option value="bachelor">Bachelor's</option>
        </select></th>
    <th><select onchange="Table.filter(this,this)">
        <option value="function(){return true;}">Any</option>
        <option value="west.*coast">West Coast</option>
        <option value="southwest">Southwest</option>
        <option value="northwest">Northwest</option>
        <option value="south.*east">Southeast</option>
        <option value="northeast">Northeast</option>
        <option value="midwest">Midwest</option>
        </select></th>
    <th><select onchange="Table.filter(this,this)">
        <option value="function(){return true;}">All Days</option>
        <option value="mon">Monday</option>
        <option value="tues">Tuesday</option>
        </select></th>
    <th><select onchange="Table.filter(this,this)">
        <option value="function(){return true;}">All policies</option>
        <option value="function(val){return parseFloat(val)<=1;}">Yes</option>
        <option value="function(val){return parseFloat(val)<=2;}">On occassion</option>
        <option value="function(val){return parseFloat(val)<=3;}">No</option>
        </select></th>
    <th id="centered-cell"><select onchange="Table.filter(this,this)">
        <option value="function(){return true;}">Either</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
        </select></th>
    <th></th>
    </tr>
    </thead><tbody><tr><td>Check back later for list of companies</td>
                    
                       
                        </tr></tbody>
    </table>
    </div>

    </article> -->
    </body>
    <script type="text/javascript" language="javascript" src="{% static 'js/sort_filter_table.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" language="javascript"  src="{% static 'js/sticky-header.js' %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" defer></script>
    <script type="text/javascript">
    $(function(){
        $("[rel='tooltip']").popover()
    });
    </script>
    </html>