{% extends base %}
{% load staticfiles %}

{% block content %}
{% if back_button %}
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-default" href="{{back_button.link}}"><i class="glyphicon glyphicon-chevron-left"></i> {{back_button.text}}</a>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <h4>{{form_title}}</h4>
        <p>{{help_text}}</p>
        <form {% if has_files %}enctype="multipart/form-data"{% endif %} method="post" action="{{request.path}}">
    {% csrf_token %}
    {{formset.management_form}}
    <table class="table table-striped table-bordered">
        {% include 'formset_template.html' %}
    </table>
    {% if can_add_row %}
    {% if new_bootstrap %}
    <p><a class="btn btn-default add-row"  href="javascript:void(0)"/>Add another row</a></p>
    {% else %}
    <p><a class="btn add-row"  href="javascript:void(0)"/>Add another row</a></p>
    {% endif %}
    {% endif %}
    <input type="submit" value="{{submit_name}}"/>
</form>
    </div>
</div>
{% endblock content %}
