{% extends base %}
{% load staticfiles %}
{% load my_markdown %}

{% block content %}
{% if back_button %}
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-default" href="{{back_button.link}}"><i class="glyphicon glyphicon-chevron-left"></i> {{back_button.text}}</a>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <h4>{{form_title}}</h4>
        <p>{{help_text|my_markdown}}</p>
        <form {% if has_files %}enctype="multipart/form-data"{% endif %} method="post" action="{{request.path}}" {%if can_add_row %}id="dynForm"{%endif%}>
    {% csrf_token %}
    {{formset.management_form}}
    <table class="table table-striped table-bordered">
        {% include 'formset_template.html' %}
    </table>
    <input type="submit" value="{{submit_name}}"/>
</form>
    </div>
</div>
{% endblock content %}
