{% extends "base.html" %}
{% load staticfiles %}
{% load my_markdown %}

{% block content %}
{% if current_meetings %}
{% for current_meeting in current_meetings %}
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times</button>
    <div class="text-center"><a href="{% url 'event_cal:event_detail' current_meeting.id %}"><strong>{{current_meeting.name}}</strong></a> is going on. {% if user.is_authenticated %}{% if user.userprofile and user.userprofile.is_member %}{% for shift in current_meeting.eventshift_set.all %}Click <a href="{% url 'event_cal:meeting_sign_in' current_meeting.id shift.id %}">here</a> to sign in.{%endfor%} {% else %}You must make a profile to sign in.{% endif %}{% else %}You
        must <a href="{% url 'login_view' %}?next={{request.path}}">log in</a> to sign-in{% endif %}</div>
</div>
{% endfor %}
{% endif %}
<div class="row">
    <div class="col-lg-9 col-md-8 col-sm-12">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                {% if slideshow_photos %}
                <div id="homeSlideshow" class="carousel slide centered" data-interval="10000">
                    <ol class="carousel-indicators">
                    {% for slide in slideshow_photos %}
                        <li data-target="#homeSlideshow" data-slide-to="{{forloop.counter0}}" {%if forloop.first %}class="active"{%endif %}></li>
                    {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for slide in slideshow_photos %}
                        <div class="item {%if forloop.first%}active{%endif%}">
                            <a href="{{slide.link}}" title="{{slide.title}}">
                                <img src="{% static slide.photo.thumbnail.url %}" alt="{{slide.title}}" />
                            
                            <div class="carousel-caption">
                                <h4>{{slide.title}}</h4>
                                <p class="text-justify">{{slide.text}}</p>
                            </div>
                        </a>
                        </div>
                        {% endfor %}
                    </div>
                {% if slideshow_photos|length > 1 %}
                <a class="left carousel-control" href="#homeSlideshow" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#homeSlideshow" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-md-12 col-lg-5 col-sm-12">
                {% if web_articles %}
                <h1 id="news-header">Recent Chapter News</h1>
                <ul id="news-list">
                {% for news_article in web_articles %}
                    <li>
                        <a href="{% url 'history:article_view' news_article.id %}"><h2>{{news_article.title}}</h2></a>
                        <p>{{news_article.get_short_view|my_markdown}}</p>
                        <div class="fb-like" data-kid-directed-site="true" data-href="https://tbp.engin.umich.edu{% url 'history:article_view' news_article.id %}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div><br/>
                        {% url 'history:article_view' news_article.id as the_url %}
                        <div class="g-plusone" data-size="medium" data-href="https://tbp.engin.umich.edu{{ the_url|slice:":-1"}}"></div>
                        <p><a href="https://twitter.com/intent/tweet?screen_name=tbpmig" data-url="https://tbp.engin.umich.edu{% url 'history:article_view' news_article.id %}" data-count="none" class="twitter-mention-button" data-lang="en">Tweet to @tbpmig</a></p>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
<!--Left Column-->
<div class="col-md-4 col-lg-3 col-sm-12">
    {% if quick_links %}
        <h3>Quick Links</h3>
        {% for link in quick_links %}
        <p><a href="{{ link.link }}">{{link.link_name}}</a></p>
        {% endfor %}
    {% endif %}
{% if upcoming_events %}
<h3>Upcoming Events</h3>
<ul id="event-list">
{{upcoming_events|safe}}
</ul>
{% endif %}
</div>
</div>

{% endblock %}
{% block js_bottom %}
<script>
	$(document).ready(function() {
		$('.carousel').carousel({
	interval: 8000
    })
    });
</script>
{% endblock %}
