{% extends "base.html" %}
{% block subnav %}
<li {%if subnav and subnav == 'about' %}class="active"{% endif %}><a href="{% url 'about:index' %}">Overview</a></li>
<li  {%if subnav and subnav == 'joining' %}class="active"{% endif %}><a href="{% url 'about:eligibility' %}">Joining</a></li>
<li  {%if subnav and subnav == 'leadership' %}class="active"{% endif %}><a href="{% url 'about:leadership' %}">Leadership</a></li>
<li  {%if subnav and subnav == 'bylaws' %}class="active"{% endif %}><a href="{% url 'about:bylaws' %}">Bylaws</a></li>
{% endblock %}
