{% extends "about/base_about.html" %}
{% load staticfiles %}
{% load my_markdown %}
{% block content %}
{% if can_edit_page %}
        <p><a class="btn btn-warning" href="{% url 'about:update_joining_page' %}">Update Joining Page Text</a></p>
{% endif %}
<div class="row">
	<div class="col-md-3">
        <h3> Eligibility Requirements</h3>
        {% for elig in eligibility_text %}
        {{elig.text|my_markdown}}
        {% endfor %}
    </div>
    <hr class="hidden-md hidden-lg" />
    <div class ="col-md-6">
		<h2>Why Join TBP</h2>
        <div class="row">
            <div class="col-md-12">
                <div id="joiningSlideshow" class="carousel slide centered" data-ride="slide" data-interval=10000>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{% static 'electee_trophy.jpg' %}" alt="Electee Trophy" />
                                <div class="carousel-caption hidden-xs">
                                <h4>New Initiate Competition</h4>
                                <p class="text-justify">
                                    Teams of electees participate in a semester-long competition during General 
                                    Meetings, the victors being recognized at the semesterly banquet.
                                </p>
                                </div>
                                <div class="carousel-caption visible-xs xsmall-text">
                                <h4>New Initiate Competition</h4>
                                <p class="text-justify">Each semester, teams of electees (people in the process of joining) participate in a semester-long competition. The victors get to hold on to the trophy among other prizes.</p>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                {% for why in why_join_text %}
                {{why.text|my_markdown}}
                {% endfor %}
            </div>
        </div>
	</div>
    <hr class="hidden-md hidden-lg" />
	<div class="col-md-3">
        <h3>Requirements to Join</h3>
        {% for ugrad in ugrad_text %}
        {{ugrad.text|my_markdown}}
        {% endfor %}
        {% for grad in grad_text %}
        {{grad.text|my_markdown}}
        {% endfor %}
	</div>
</div>
{% endblock content %}
