{% extends "about/base_about.html" %}
{% block subnavJoining %}active{% endblock %} 
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <a class="btn" href="{% url 'about:eligibility' %}"><i class="icon-chevron-left"></i> Back to Joining Page</a>
        <h4>Edit Joining Page Text</h4>
<form method="post" action="{% url 'about:update_joining_page' %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-striped table-bordered">
        {% include 'formset_template.html' %}
    </table>
    <input type="submit" value="Update About Page" name = "submit"/>
</form>
    </div>
</div>
{% endblock content %}
