{% extends "about/base_about.html" %}
{% load staticfiles %}
{% load my_markdown %}

{% block content %}
{% with term_id=requested_term.id %}
<h2 class="text-center"> Tau Beta Pi Officers and Committee Members</h2>
<p class="text-center"> For {{requested_term}}</p>
<div class="row">
    <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
        {% for term in terms %}
        <li {% if term.id == term_id %}class="active"{% endif %}><a href="{% url 'about:leadership_for_term' term.id %}" >{{term}}</a></li>				
		{% endfor %}
    </ul>
    </div>
	<div class="col-md-10">
        <div class="panel-group" id="OfficerAccordian{{term_id}}">
			<div class="panel panel-default">
        		<div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#OfficerAccordion{{term_id}}" href="#officersCollapse{{term_id}}">
							Officers
                        </a>
                    </h4>
				</div>
                <div id="officersCollapse{{term_id}}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% if is_current %}
                        <p class="text-center"><a href="mailto:tbp.officers@umich.edu">tbp.officers@umich.edu</a></p>
                        {% endif %}
                        {% for team_data in officers.officers|dictsort:"order" %}
                        <h3>{{team_data.name}}</h3>
                        {% if team_data.lead_name %}
                        <p>Team Lead: {{team_data.lead_name}}</p>
                        {% endif %}
                        {% for officer in team_data.officers %}
                            {% if forloop.counter0|divisibleby:"4" %}
                            <div class="row">
                            {% endif %}
                            {% if forloop.counter0|divisibleby:"2" %}
                            <div class="col-sm-12 col-lg-6">
                                <div class="row">
                            {% endif %}
                            <div id="officer{{officer.id}}">
                                <p>Loading...</p>
                            </div>
                            {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                            </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:"4" or forloop.last %}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <hr/>
                        {% endfor %}
                    </div>
                </div>
            </div>
		    {% if officers.advisors %}
			<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#OfficerAccordion{{term_id}}" href="#advisorsCollapse{{term_id}}">
							Advisors
                        </a>
                    </h4>
				</div>
                <div id="advisorsCollapse{{term_id}}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% if is_current %}
                        <p class="text-center"><a href="mailto:tbp-advisors@umich.edu">tbp-advisors@umich.edu</a></p>
                        {% endif %}
                        {% for advisor in officers.advisors %}
                            {% if forloop.counter0|divisibleby:"4" %}
                            <div class="row">
                            {% endif %}
                            {% if forloop.counter0|divisibleby:"2" %}
                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                            {% endif %}
                            <div id="officer{{advisor.id}}">
                                <p>Loading...</p>
                            </div>
                            {% if forloop.counter|divisibleby:"2" or forloop.last %}
                            </div>
                            </div>
                            {% endif %}
                        {% if forloop.counter|divisibleby:"4" or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                        <hr/>
                    </div>
                </div>
                
			</div>
			{% endif %}
            {% if committee_members %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#OfficerAccordion{{term_id}}" href="#committeesCollapse{{term_id}}">
							Committees
                        </a>
                    </h4>
				</div>
                <div id="committeesCollapse{{term_id}}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% regroup committee_members|dictsort:"committee.id" by committee as members_by_committee%}
                        
                        {% for committee in members_by_committee%} 
                            {% if forloop.counter0|divisibleby:"2" %}
                            <div class="row">
                            {% endif %}
                            <div class="col-sm-12 col-md-6">
                            <p><strong>{{committee.grouper.name}}</strong> {% if not committee.grouper.is_active %} (now inactive) {% endif %}</p>
                            <ul>
                            {% regroup committee.list|dictsortreversed:"is_chair" by is_chair as members_by_chair_status %}
                            {% for status in members_by_chair_status %}
                                {% for committee_member in status.list|dictsort:"member" %}
                                <li>{{committee_member.member}}{% if committee_member.is_chair %}, chair{% endif %}</li>
                                {% endfor %}
                            {% endfor %}
                            </ul>
                            
                            </div>

                        {% if forloop.counter|divisibleby:"2" or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                        <hr/>
                    </div>
                </div>
            </div>
            {% endif %}
		</div>
	</div>
</div>
{% endwith %}				
{% endblock content %}
{% block js %}

<script type="text/javascript">
$(document).ready(function(){
{% for officer in officer_ids %}
           ajaxGet('{% url 'about:officer' officer.id %}');
{% endfor %}
     });
 </script>
{% endblock js %}
