{% extends "about/base_about.html" %}
{% load staticfiles %}
{% block subnavLeadership %}active{% endblock %} 

{% block content %}
<h2 class="text-center"> Tau Beta Pi Officers and Committee Members</h2>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		{% for term_data in officers_by_term|dictsortreversed:"term_start_date" %}
		<li {% if term_data.name == current_term %}class="active"{% endif %}><a href="#{{term_data.name|cut:" "}}" data-toggle="tab">{{term_data.name}}</a></li>				
		{% endfor %}
	</ul>
	<div class="tab-content">
		{% for term_data in officers_by_term|dictsortreversed:"term_start_date" %}
		<div class="tab-pane {% if term_data.name == current_term %}active{% endif %}" id="{{term_data.name|cut:" "}}">
			<div class="accordion" id="{{term_data.name|cut:" "}}OfficerAccordian">
				<div class="accordion-group">
					<div class="accordian-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#{{term_data.name|cut:" "}}OfficerAccordion" href="#{{term_data.name|cut:" "}}officersCollapse">
							<h3 class="text-center">Officers</h3>
						</a>
					</div>
					<div id="{{term_data.name|cut:" "}}officersCollapse" class="accordion-body collapse in">
						<div class="accordion-inner">
							<p class="text-center"><a href="mailto:tbp.officers@umich.edu">tbp.officers@umich.edu</a></p>
							{% for team, team_data in term_data.officers.items %}
							{% if team != 'none' %}
							<h3>{{team}}</h3>
							{% endif %}
							{% if team_data.lead %}
							<p>Team Lead: {{team_data.lead}}</p>
							{% endif %}
							<div class="row-fluid">
								{% for officer, officer_data in team_data.officers.items %}
								{% for person in officer_data.persons %}
								<div class="span3" id="officer-profile">
									<h4>{{officer}}</h4>
									<p><strong>{{person.user.get_firstlast_name}}</strong></p>
									{% if term_data == current_term %}
									<a href="{{officer_data.position.email}}">{{officer_data.position.email}}</a>
									{% endif %}
									<img  class="img-rounded" src="{{person.website_photo.url}}"></img>
									<p class="text-justify">{{person.website_bio}}</p>
								</div>
								{% endfor %}
								{% endfor %}
							</div>
							<hr/>
							{% endfor %}
						</div>
					</div>
				</div>
				{% if term_data.advisors %}
				<div class="accordion-group">
					<div class="accordian-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#{{term_data.name|cut:" "}}OfficerAccordion" href="#{{term_data.name|cut:" "}}advisorsCollapse">
							<h3 class="text-center">Advisors</h3>
						</a>
					</div>
					<div id="{{term_data.name|cut:" "}}advisorsCollapse" class="accordion-body collapse">
						<div class="accordion-inner">
							<p class="text-center"><a href="mailto:tbp-advisors@umich.edu">tbp-advisors@umich.edu</a></p>
							
							{% for person in term_data.advisors.persons %}
							{% if forloop.counter0|divisibleby:"4" %}
							<div class="row-fluid">
							{% endif %}
								<div class="span3" id="officer-profile">
									<p><strong>{{person.user.get_firstlast_name}}</strong></p>
									<img  class="img-rounded" src="{{person.website_photo.url}}"></img>
									<p class="text-justify">{{person.website_bio}}</p>
								</div>
							{% if forloop.counter0|divisibleby:"4" %}
							</div>
							{% endif %}	
							{% endfor %}
							<hr/>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
				
{% endblock content %}