{% extends "about/base_about.html" %}
{% block subnavJoining %}active{% endblock %} 
{% block content %}
<div class="row-fluid">
    <div class="span6">
        <a class="btn" href="{% url 'about:index' %}"><i class="icon-chevron-left"></i> Back to About Page</a>
        <h4>Edit About Page Photos</h4>
<form method="post" action="{% url 'about:update_about_photos' %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table table-striped table-bordered">
        {% include 'formset_template.html' %}
    </table>
    <p><a class="btn add-row"  href="javascript:void(0)"/>Add Another Photo</a></p>
    <input type="submit" value="Update About Page Photos" name = "submit"/>
</form>
    </div>
</div>
{% endblock content %}
