html,body {
    height:100%;
}
[class^="location-"],
[class*=" location-"]{
    position:absolute;
}
.location-upper-right {
    top:0em;
    right:0em;
}
/*---------------*/
/* REQUIREMENTS  */
/*---------------*/
.requirement-met {
    color:green;
}
.progress-list {
    list-style:none;
    margin:auto;
}
.progress-list li {
    display:block;
    border-style:ridge;
    border-color:#ccf;
    border-width:2px;
    margin:auto;
}
#event-list {
	/*clear:left;*/
	/*float:left;*/
	width:100%;
	list-style:none;
	margin:0 0 0 0;
	padding:0;

}
#news-list h2{
	margin-top:.3em;
}
#news-list h2,
#news-list p{
	padding-left:.2em;
	padding-right:.2em;
	padding-bottom:.1em;
	margin-bottom:.15em;
}
#news-list p{
	text-align:justify;
}
#news-list {
    margin:0;
    padding:0;
}
#news-list > li,
#event-list > li {
	display:block;
    list-style:none;
	margin:0 0 0 0;
	padding:0;
	border:1px solid #e0e0f0;
	height:auto;
	padding-left:.2em;
	padding-right:.2em;
	margin-top:.3em;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x:hidden;
}
#event-list li h3 {
    max-width:75%;
}
#news-list li {
	background:#e0e0f0;
}

#news-header {
	text-align:center;
}
#news-list img {
    max-width:100%;
}
img#logo {
	margin-left:.4em;
	float:left; 
	width:6em;
}

.text-justify {
	text-align:justify;
}
.small-text {
    font-size:small;
}
.xsmall-text {
    font-size:x-small;
}

.officer-profile img {
	display:block;
	min-width:75%;
	margin-left:auto;
	margin-right:auto;
    max-height:30em;
}
#homeSlideshow,
#aboutSlideshow,
#MindSETSlideshow{
    width:50em;
	max-width:100%;

}
.centered {
    margin-left:auto;
    margin-right:auto;
}

#joiningSlideshow {
    width:40em;
    max-width:100%;
}
.carousel-caption{
    background-color:rgba(60,60,65,.6);
    moz-border-radius:15px;
    border-radius:15px;
}

.carousel-caption p{
    padding-left:5px;
    padding-right:5px;
}

/* ==============================*/
/* ======Nav Bar ================*/
/* ==============================*/

.subtab a{
   font-size:95%;
   background-color:#daeaff;
   color:#4e4e4e;
   }

/* =========================== */
/* ======Footer Styles ======= */
/* =========================== */
.footer {
    max-width:1200px;
    margin:auto;
}
.footer-links li{
    list-style:none;
    display:inline;
    padding:5px;
}

.footer-links li a {
    background-color:#eeeeec;
    border-radius:50%;
    height:2.5em;
    width:2.5em;
    display:inline-block;
}
.footer-links li a i {
    margin:10%;
    width:1em;
    display:inline-block;
    text-align:center;
}
.footer-links li a:hover {
    text-decoration:none;
}

.text-smaller {
    font-size:.8em;
    line-height:1em;
}

.foot-wrapper{
    min-height:100%;
    height:auto !important;
    height:100%;
    margin: 0 auto -9.5em;
}
.footer, .push {
    height:8em;
}

@media (max-width: 700px){
    .subnav-medium >li {
        float:none;
    }
}
@media (max-width: 470px){
    .subnav-small >li {
        float:none;
    }
}
