html,body {
    height:100%;
}
nav a{
font-size:20pt;
}
[class^="location-"],
[class*=" location-"]{
    position:absolute;
}
.location-upper-right {
    top:0em;
    right:0em;
}
/*---------------*/
/* REQUIREMENTS  */
/*---------------*/
.requirement-met {
    color:green;
}
.progress-list {
    list-style:none;
    margin:auto;
}
.progress-list li {
    display:block;
    border-style:ridge;
    border-color:#ccf;
    border-width:2px;
    margin:auto;
}
	/* ---------------------------------------------------- */  
/* SLIDESHOW 
/* ---------------------------------------------------- */  
#slideshow {  
width: 50em;  
background-color: #eee;  
border: 1px solid #ddd;
}  
  
#slideshow ul {  
margin: 0;  
padding: 0;  
list-style-type: none;  
height: 1%; /* IE fix */}  
  
#slideshow ul:after {  
content: ".";  
clear: both;  
display: block;  
height: 0;  
visibility: hidden;}              
  
/* ---------------------------------------------------- */  
/* SLIDESHOW > SLIDES 
/* ---------------------------------------------------- */  
#slideshow .slides {  
overflow: hidden;  
width: 100%;}  
  
#slideshow .slides ul {  

width: 100%;}  
  
#slideshow .slides li {  
width: 96%;  
float: center;  
height:36em;
padding: 2%;
}  
  
#slideshow .slides h3 {  
margin-top: 0;}  
  
/* ---------------------------------------------------- */  
/* SLIDESHOW > NAVIGATION 
/* ---------------------------------------------------- */  
#slideshow .slides-nav {  
background-color: #ddd;  
border-top: 2px solid #ccc;}  
  
#slideshow .slides-nav li {  
float: left;}  
  
#slideshow .slides-nav li a {  
display: block;  
padding: 15px 20px;  
outline: none;}  


/*Slideshow overlays*/
div.slideshow_overlay {
	position: relative;
    top: -6.5em;
    left: 0px;
    width: 100%;
    height: 6.5em;
    background-color: rgb(0,0,0);
    filter: alpha(opacity=75);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    -moz-opacity: 0.75;
    -webkit-opacity: 0.75;
    opacity: 0.75;
    overflow: hidden;
}

p.overlay_title {
    position: relative;
    top: -11.5em;
    margin-left: .8em;
    color: #fff;
    font-size: 1.1em;
    z-index: 20;
}

p.overlay_blurb {
    position: relative;
    top: -15em;
    padding: 1.6em .8em;
    text-align: justify;
    color: #fff;
    width: 95%;
}

p.overlay_blurb a {
    color: #85c2e1;
}

#slideshow .slides  img{
	width:100%;
	height:auto;
}

#event-list {
	/*clear:left;*/
	/*float:left;*/
	width:100%;
	list-style:none;
	margin:0 0 0 0;
	padding:0;

}

#news-list h2{
	margin-top:.3em;
}
#news-list h2,
#news-list p{
	padding-left:.2em;
	padding-right:.2em;
	padding-bottom:.1em;
	margin-bottom:.15em;
}
#news-list p{
	text-align:justify;
}
/*#news-list li,*/
#event-list > li {
	display:block;
	margin:0 0 0 0;
	padding:0;
	border:1px solid #bdb;
	height:auto;
	padding-left:.2em;
	padding-right:.2em;
	margin-top:.3em;
}
#event-list li h3 {
    max-width:75%;
}
#news-list li {
	background:#b0b0f0;
}

#news-header {
	text-align:center;
}
.row-fluid {
		width: 98%;
		margin-left:auto;
		margin-right:auto;
	}
img#logo {
	margin-left:.4em;
	float:left; 
	width:6em;
}

.text-justify {
	text-align:justify;
}

.officer-profile img {
	display:block;
	min-width:75%;
	margin-left:auto;
	margin-right:auto;
    max-height:30em;
}
#homeSlideshow,
#aboutSlideshow,
#MindSETSlideshow{
	width:50em;

}
#MindSETSlideshow {
    margin-left:auto;
    margin-right:auto;
}
#aboutSlideshow {
	float:right;
}

#joiningSlideshow {
    width:40em;
    float:right;
}

/* ==============================*/
/* ======Nav Bar ================*/
/* ==============================*/

.subtab a{
   font-size:95%;
   background-color:#daeaff;
   color:#4e4e4e;
   }

/* =========================== */
/* ======Footer Styles ======= */
/* =========================== */
.footer {
    max-width:1200px;
    margin:auto;
}
.footer-links li{
    list-style:none;
    display:inline;
    padding:5px;
}

.footer-links li a {
    background-color:#eeeeec;
    border-radius:50%;
    height:2.5em;
    width:2.5em;
    display:inline-block;
}
.footer-links li a i {
    margin:10%;
    width:1em;
    display:inline-block;
    text-align:center;
}
.footer-links li a:hover {
    text-decoration:none;
}

.text-smaller {
    font-size:.8em;
    line-height:1em;
}

.foot-wrapper{
    min-height:100%;
    height:auto !important;
    height:100%;
    margin: 0 auto -9.5em;
}
.footer, .push {
    height:8em;
}
