{% extends "base.html" %}
{% block subnav_class %}subnav-small{%endblock%}
{% load my_markdown %}
{% block subnav %}
{% for link in mig_dropdowns.corporate %}
<li {%if subnav and subnav == link.subnav %}class="active"{% endif %}><a href="{{link.link}}">{{link.link_name}}</a></li>
{% endfor %}
{% endblock %}

{% block content %}
{% if can_edit_corporate or can_add_contact or can_edit_contacts or can_add_company %}
<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            {% if can_edit_corporate %}
            <a class="btn btn-info" href="{% url 'corporate:update_corporate_page' %}">Update Corporate Page</a>
            <a class="btn btn-info" href="{% url 'corporate:update_resource_guide' %}">Update Corporate Resource Guide</a>
            {% endif %}
            {% if can_add_contact %}
            <a class="btn btn-success" href="{% url 'corporate:add_company_contact' %}">Add Corporate Contact</a>
            {% endif %}
            {% if can_edit_contacts %}
            <a class="btn btn-warning" href="{% url 'corporate:edit_company_contacts' %}">Edit Corporate Contacts</a>
            <a class="btn btn-info" href="{% url 'corporate:view_company_contacts' %}">View Contacts</a>
            <a class="btn btn-info" href="{% url 'corporate:update_corporate_email' %}">Update Email</a>
            <a class="btn btn-warning" href="{% url 'corporate:view_and_send_email' %}">Email Contacts</a>
            {% endif %}
            {% if can_add_company %}
            <a class="btn btn-success" href="{% url 'corporate:add_company' %}">Add Company Information</a>
            <a class="btn btn-success" href="{% url 'corporate:add_jobfield' %}">Add Industry Information</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
<div class="row">
	<div class="col-md-8 col-md-offset-1">
		{% block subcontent %}
		{% endblock subcontent %}
	</div>
	<div class="col-md-3">
        <h3>Who to contact</h3>
        {% for c_text in contact_text %}
            {{c_text.text|my_markdown}}
        {% endfor %}
	</div>
</div>


{% endblock content %}
